.cplus_cell {
    float:left;
    box-sizing:border-box;
 }

.cplus_cell_header,
.cplus_cell_footer {
    width:100%;
    box-sizing:border-box;
    clear:both;
}
.cplus_cell_header {
    margin-bottom:20px;
}
.cplus_cell_footer {
    margin-top:10px;
}
.cplus_cell_header_left,
.cplus_cell_footer_left {
    float:left;
    box-sizing:border-box;
}
.cplus_cell_header_right,
.cplus_cell_footer_right {
    float:right;
    box-sizing:border-box;
}


.cplus_cell_columns {
    width:100%;
    box-sizing:border-box;
    clear:both;
}

.cplus_cell_left_col,
.cplus_cell_centre_col,
.cplus_cell_right_col {
    float:left;
    box-sizing:border-box;
}
.cplus_cell_left_col {width:25%;}
.cplus_cell_centre_col {width:75%;}
.cplus_cell_right_col {width:0;}


.cplus_clearfloat {
    clear:both;
}

/*default styling */
.cplus_entry_meta,
.cplus_entry_meta a
 {
    font-size:11px;
    color:#777;
    text-decoration:none;
    margin-bottom:5px;
}



/* remember this for the background of text */
.cplus-a-textarea {
    background:rgba(32,63,96,0.5);
    color:red;
    width:50%;
    padding:20px;
    margin:5px;
}
