.pzarchitect {
  .slick-prev {
    left: -30px;
  }
  .slick-next {
    right: -30px;
  }
  .slick-prev, .slick-next {
    width: 28px;
    height: 28px;
    &:before {
      font-size: 28px;
      padding: 2px;
      box-sizing: border-box;
      &.dark {
        color: #111;
      }
      &.light {
        color: #fff;
      }
    }
  }

  ul.slick-dots {
    left: 0;
  }

  .slick-slider {
    margin-bottom: 0;
  }

  // This is coz transforms were preventing display of content section
  .slick-slide img {
    -webkit-transform: initial;
  }

  // TODO: Use this once multiple slides allowed
  //.pzarc-panel {
  //  opacity: 0.5;
  //
  //  &.slick-active.slick-center {
  //    opacity: 1;
  //    article {
  //      visibility: visible;
  //    }
  //  }
  //  article {
  //    visibility: hidden;
  //  }
  //}

}