@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?2ckz6j");
  src: url("fonts/icomoon.eot?#iefix2ckz6j") format("embedded-opentype"), url("fonts/icomoon.woff?2ckz6j") format("woff"), url("fonts/icomoon.ttf?2ckz6j") format("truetype"), url("fonts/icomoon.svg?2ckz6j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.icomoon [class^="icon-"], .icomoon [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .icomoon [class^="icon-"] :before, .icomoon [class*=" icon-"] :before {
    vertical-align: middle;
    position: relative; }
.icomoon .icon-step-backward:before {
  content: "\f048"; }
.icomoon .icon-fast-backward:before {
  content: "\f049"; }
.icomoon .icon-backward:before {
  content: "\f04a";
  left: -0.1em; }
.icomoon .icon-play:before {
  content: "\f04b"; }
.icomoon .icon-pause:before {
  content: "\f04c"; }
.icomoon .icon-stop:before {
  content: "\f04d"; }
.icomoon .icon-forward:before {
  content: "\f04e";
  left: 0.1em; }
.icomoon .icon-fast-forward:before {
  content: "\f050"; }
.icomoon .icon-step-forward:before {
  content: "\f051"; }
.icomoon .icon-chevron-left:before {
  content: "\f053"; }
.icomoon .icon-chevron-right:before {
  content: "\f054"; }
.icomoon .icon-chevron-up:before {
  content: "\f077"; }
.icomoon .icon-chevron-down:before {
  content: "\f078"; }
.icomoon .icon-arrow-circle-left:before {
  content: "\f0a8"; }
.icomoon .icon-arrow-circle-right:before {
  content: "\f0a9"; }
.icomoon .icon-arrow-circle-up:before {
  content: "\f0aa"; }
.icomoon .icon-arrow-circle-down:before {
  content: "\f0ab"; }
.icomoon .icon-caret-down:before {
  content: "\f0d7"; }
.icomoon .icon-caret-up:before {
  content: "\f0d8"; }
.icomoon .icon-caret-left:before {
  content: "\f0d9"; }
.icomoon .icon-caret-right:before {
  content: "\f0da"; }
.icomoon .icon-angle-double-left:before {
  content: "\f100"; }
.icomoon .icon-angle-double-right:before {
  content: "\f101"; }
.icomoon .icon-angle-double-up:before {
  content: "\f102"; }
.icomoon .icon-angle-double-down:before {
  content: "\f103"; }
.icomoon .icon-angle-left:before {
  content: "\f104"; }
.icomoon .icon-angle-right:before {
  content: "\f105"; }
.icomoon .icon-angle-up:before {
  content: "\f106"; }
.icomoon .icon-angle-down:before {
  content: "\f107"; }
.icomoon .icon-chevron-circle-left:before {
  content: "\f137"; }
.icomoon .icon-chevron-circle-right:before {
  content: "\f138"; }
.icomoon .icon-chevron-circle-up:before {
  content: "\f139"; }
.icomoon .icon-chevron-circle-down:before {
  content: "\f13a"; }
.icomoon .icon-arrow-left4:before {
  content: "\e60c"; }
.icomoon .icon-arrow-down:before {
  content: "\e600"; }
.icomoon .icon-arrow-up:before {
  content: "\e601"; }
.icomoon .icon-uniE60D:before {
  content: "\e60d"; }
