.pzarchitect {
  .message-warning {
    background: $warningbg;
    color: $warningfg;
    border: solid $base-border-width $warningfg;
    padding: $base-gap;
  }

  .message-error {
    font-size: $base-font-size*1.6;
    font-family: sans-serif;
    color: $oopsfg;
    background: $oopsbg;
    border: none;
    display: inline-block;
    margin: $base-gap 0;
    padding: $base-gap*2;
  }
}