// Make sure there's no formatting in this
.pzarc-panel {
  min-width: 0px;
  min-height: 0px;
  /* Remember to remove space between divs to stop inline-block space issue */
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  overflow: hidden;

  .entry-image {
    max-width: 100%;
    display: block;
  }

  .entry-excerpt,
  .entry-content {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    &.nothumb {
      width: 100%;
    }
  }

  img.entry-image {
  }

  .entry-content {
  }

  .entry-excerpt {
    float: left;
  }

  .entry-thumbnail {
    float: left;
    img {
      max-width: 100%;
      height: auto;
    }
    &.centred {
      float: none;
      margin: 0 auto;
      text-align: center;
    }
    .caption {
      display: block;
    }
  }

  .entry-title {
  }

  .entry-title,
  .entry-excerpt,
  .entry-thumbnail,
  .entry-content,
  .entry-meta {
    display: block;
    float: left;
    vertical-align: top;
    box-sizing: border-box;
  }

  .entry-customfieldgroup {
    display: block;
    float: left;
  }

  .vertical-content {
    top: 0;
    bottom: 0;
    height: 100%;
  }

  .pzarc-components {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }

  //when the bgimage is set to align, still use absolute as it sticks in the page flow!!
  figure.pzarc-bg-image {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    z-index: 0;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      height: auto;
    }

    &.fill {
      &.trim {
        max-width: none;
        display: inline-block;
        right: -50%;
        overflow: visible;

        img {
          max-width: none;
          position: relative;
          left: -50%;
        }
      }

      &.scale img {
        max-width: 100%;
      }
    }

    &.align {
      //      position: relative;
      top: 0;
      &.scale {
        max-width: none;
      }
      &.scale img {
        max-width: 100%;
      }
    }

  }
  &.using-bgimages {
    .pzarc-components {
      position: absolute;
      z-index: 1;
    }

    > figure {
      position: relative;
      //top: 0;
      //left: 0;
      z-index: 0;
    }
  }
  &.using-aligned-bgimages {
    .pzarc-components {
      position: relative;
      z-index: 1;
    }

    > figure {
      position: absolute;
      //top: 0;
      //left: 0;
      z-index: 0;
      img {
        max-width: none;
      }

    }
  }

  .pzarc-presuff-image {
    vertical-align: middle;
  }
  .lightbox img {
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
  }
}


