.pzarc-navigator {
  //absolute if over content
  //position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  z-index: 1;
  //display:inline-table; (Maybe useful later)
  // width:100%; Prob better if user sets width and margins
  &.outside {

  }
  &.inside {
    position: absolute;
    z-index: 1;
  }
  &.top {
    top: 15px;
    bottom: initial;
  }
  &.bottom {
    bottom: 15px;
    top: initial;
  }
  &.left {
    left: 15px;
    text-align: left;
    right: initial
  }
  &.right {
    right: 15px;
    text-align: right;
    left: initial
  }
}

/* ===============================================================
  Your custom styles, here you need to specify container's and slide's
  sizes, pagination, etc.
  ================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */

  padding: 0;
  .swiper-slide {
    /* Specify Slides's Size: */

    // width: 320px;
    height: 100%;
    margin: 0 !important;
  }
}

.swiper-slide-active {
  /* Specific active slide styling: */

}

.swiper-slide-visible {
  /* Specific visible slide styling: */

}

/* ===============================================================
Pagination Styles
================================================================*/

.bullets {
  .swiper-pagination-switch {
    /* Stylize pagination button: */
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #999;
    box-shadow: 0px 1px 2px #555 inset;
    margin: 0 3px;
    cursor: pointer;
    &.small {
      width: 12px;
      height: 12px;

    }
    &.medium {
      width: 15px;
      height: 15px;

    }
    &.large {
      width: 18px;
      height: 18px;

    }
    &:hover {
      background: #ccc;
    }
    &.active {
      /* Specific active button style: */
      background: #fff;
    }
  }
  &.circle .swiper-pagination-switch {
    border-radius: 15px;
  }
  &.square .swiper-pagination-switch {
    border-radius: 1px;
    border-bottom: 1px solid #999;
  }

}

.tabbed {
  .swiper-pagination-switch {
    /* Stylize pagination button: */
    display: table-cell; // Woot! This fixes height matching and width distribution
    min-height: 30px;
    cursor: pointer;
    padding: 10px;
    margin:0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: none;
    border-bottom: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing:border-box;
  }

}

.thumbs {
  .swiper-pagination-switch {
    /* Stylize pagination button: */
//    display: table-cell; // Woot! This fixes height matching and width distribution
//    min-height: 30px;
//    cursor: pointer;
//    padding: 10px;
//    margin:0;
//    background: rgba(0, 0, 0, 0.05);
//    border: 1px solid rgba(255, 255, 255, 0.5);
//    border-top: none;
//    border-bottom: none;
//    text-decoration: none;
//    font-family: sans-serif;
//    box-sizing:border-box;
  }
  span.dashicons {
    font-size:4em;
    display:inline-table;

  }
}

.numbers {
  .swiper-pagination-switch {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    color: #999;
    &.small {
      font-size: 22px;
    }
    &.medium {
      font-size: 28px;

    }
    &.large {
      font-size: 34px;

    }
    &:hover {
      color: #ccc;
    }
    &.active {
      /* Specific active button style: */
      color: #fff;
    }
  }

}

.swiper-pagination-switch {
  cursor: pointer;

}

.swiper-visible-switch {
  /* Specific style for nav buttons for visible panels: */
  // background:#eee;
}

.nav-navigator {
  a.pager {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    border-radius:30px;
    padding:0;
    z-index: 2;
    display: none;
    font-family: Dashicons;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    text-align:center;
    background:rgba(0, 0, 0, 0.3);

    // TODO: Replace this with multiple icon font arrows.
    &.arrow-left {
      left: 5px;
      &:before {
        content: "\f341";
        vertical-align: text-bottom;
        position:relative;
        left:-2px;
      }
      &.icon-btn-style:before {
        content: "\f141";
        vertical-align: text-bottom;
        position:relative;
        left:-2px;
      }
    }
    &.arrow-right {
      right: 5px;
      &:before {
        content: "\f345";
        vertical-align: text-bottom;
        position:relative;
        right:-2px;
      }
      &.icon-btn-style:before {
        content: "\f139";
        vertical-align: text-bottom;
        position:relative;
        right:-2px;
      }
    }
  }

  &:hover {
    .arrow-right,
    .arrow-left {
      display: block;
    }
  }

  .bxpager a {
    padding: 10px;
    margin: 2px;
    background: #eee;
    &:hover {
      background: #fff;
    }
  }

}