.msie .pzarc-navigator {
  height:0;
}
.pzarc-navigator {
  //absolute if over content
  //position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  z-index: 1;
  display:block;
  // TODO: Verify this doesn't scramble other displays!
  // width:100%; Prob better if user sets width and margin
  &.tabbed {
    display:-webkit-flex; // This gives a nice even layout and full height tabs
    display:flex; // This gives a nice even layout and full height tabs
    flex-direction: row;
    &.vertical {
      flex-direction: column;
    }
  }
  &.outside {
    &.top {
      position: relative;
      z-index: 1;
      top: 0px;
      bottom: initial;
    }
    &.bottom {
      bottom: 0px;
      top: initial;
    }

  }
  &.inside {
    position: absolute;
    z-index: 1;
    &.top {
      top: 15px;
      bottom: initial;
    }
    &.bottom {
      bottom: 15px;
      top: initial;
    }
  }
  &.left {
    left: 15px;
    text-align: left;
    right: initial;
    width:10%;

  }
  &.right {
    right: 15px;
    text-align: right;
    left: initial;
    width:10%;
  }
}

/* ===============================================================
  Your custom styles, here you need to specify container's and slide's
  sizes, pagination, etc.
  ================================================================*/
.arc-slider-container {
  /* Specify slider's Size: */

  padding: 0;
  .arc-slider-slide {
    /* Specify Slides's Size: */

    // width: 320px;
    height: 100%;
    margin: 0 !important;
  }
}

.arc-slider-slide-active {
  /* Specific active slide styling: */

}

.arc-slider-slide-visible {
  /* Specific visible slide styling: */

}

/* ===============================================================
Pagination Styles
================================================================*/

.bullets {
  .arc-slider-slide-nav-item {
    /* Stylize pagination button: */
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #999;
    box-shadow: 0px 1px 2px #555 inset;
    margin: 0 3px;
    cursor: pointer;
    &.small {
      width: 12px!important;
      height: 12px;
      padding:0;

    }
    &.medium {
      width: 15px!important;
      height: 15px;
      padding:0;

    }
    &.large {
      width: 18px!important;
      height: 18px;
      padding:0;

    }
    &:hover {
      background: #ccc;
    }
    &.active {
      /* Specific active button style: */
      background: #fff;
    }
  }
  &.circle .arc-slider-slide-nav-item {
    border-radius: 15px;
  }
  &.square .arc-slider-slide-nav-item {
    border-radius: 1px;
    border-bottom: 1px solid #999;
  }

}

.tabbed {
  .arc-slider-slide-nav-item {
    // TODO: Move styling to defaults
//    display: table-cell; // Woot! This fixes height matching and width distribution. Doh! But breaks margins.
    min-height: 30px;
    cursor: pointer;
    background-color:#ddd;
    box-sizing: border-box;
    &.active {
      background-color: #ccc;
      color:#000;
    }
    &:hover {
      background-color: #ccc;
    }
  }
}

.thumbs {
  .arc-slider-slide-nav-item {
    /* Stylize pagination button: */
//        display: table-cell; // Woot! This fixes height matching and width distribution
//        min-height: 30px;
//        cursor: pointer;
//        padding: 10px;
//        margin:0;
//        background: rgba(0, 0, 0, 0.05);
//        border: 1px solid rgba(255, 255, 255, 0.5);
//        border-top: none;
//        border-bottom: none;
//        text-decoration: none;
//        font-family: sans-serif;
//        box-sizing:border-box;

    img {
      border-style: solid;
      border-width: 2px;
      border-color: rgba(128, 128, 128, 0);
    }

    &.active img {
      border-color: #fff;
    }
  }
  span.dashicons {
    font-size: 4em;
    display: inline-table;

  }
  &.has-pager .pzarc-navigator {
    width:80%;
    // TODO: This is a hack fix. Find a way to centre it properly
    left:12%;
  }
}

.numbers {
  .arc-slider-slide-nav-item {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    color: #999;
    &.small {
      font-size: 22px;
    }
    &.medium {
      font-size: 28px;

    }
    &.large {
      font-size: 34px;

    }
    &:hover {
      color: #ccc;
    }
    &.active {
      /* Specific active button style: */
      color: #fff;
    }
  }

}

.arc-slider-slide-nav-item {
  cursor: pointer;

}

.arc-slider-slide-nav-item-visible {
  /* Specific style for nav buttons for visible panels: */
  // background:#eee;
}

.nav-navigator {
  button.pager {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    border-radius: 3px;
    padding: 5px;
    z-index: 2;
    display: none;
    font-family: icomoon;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);

    // Uses icons defined in im-style.css.
    &:focus {
      outline:none;
    }
    &.arrow-left {
      left: 5px;
    }
    &.arrow-right {
      right: 5px;
    }
  }

  &:hover {
    .arrow-right,
    .arrow-left {
      display: block;
    }
  }

}

.arc-slider-nav {
  max-height: 80px;
  width: 100%;
  position:relative;
  &:hover {
    .skip-right,
    .skip-left {
      display: block;
    }
  }
  // TODO: Replace this with multiple icon font arrows.
  button.pager {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 0;
    z-index: 2;
    text-decoration: none;
    display: none;
    background: none;
    &:hover {
      display: block;
    }
    span {
      vertical-align: middle;
      margin: 0;
      padding: 0;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      font-size: 30px;
      display: block;
      color: #fff;
      background: rgba(0, 0, 0, 0.3);
    }
    &.skip-left {
      left: 5px;
      span {
        left: -4px;
      }
    }
    &.skip-right {
      right: 5px;
      span {
        right: -4px;
      }
    }
  }
}

.pzarc-navigator.inside {
  width: 100%;
  .arc-slider-wrapper {
    // TODO: Find the right way to do this
    // width:auto!important;
    width: 100% !important;
  }

}

.arc-slider-nav .arc-slider-wrapper {
  margin: 0 auto;
}

.arc-slider-nav span {
}

.arc-slider-nav .arc-slider-wrapper > span:hover {
  background: rgba(255, 255, 255, 0.3);
}

.arc-slider-nav .arc-slider-slide {
  max-width: 100px;
}

.arc-slider-nav.thumbs .arc-slider-slide {
  max-width: initial;
  display:inline-block;
}

.arc-slider-nav .arc-slider-slide:first-child span {
}

.arc-slider-nav .arc-slider-slide:last-child span {
}


ul.slick-dots {
  left:0;
}

.slick-slider {
 margin-bottom:0;
}

/* This is coz transforms were preventing display of content section */
.slick-slide img {
  -webkit-transform: initial;
}

// TODO: Use this once multiple slides allowed
x.pzarc-panel {
  opacity:0.5;

  &.slick-active.slick-center {
    opacity:1;
    article {
      visibility:visible;
    }
  }
  article {
    visibility: hidden;
  }
}