// Values

// Colours
//$primary-colour: #005697;
//$bg-colour: #fff;
//$bg-colour-light:#f4f4f4;
//$bg-colour-medium:#e4e4e4;
//$bg-colour-hilite:#CAE8FF;
//
//$link-colour:$primary-colour;
//$hover-colour: #ff8500;
//
//$text-colour: #696969;
//$bright-text-colour: #fff;


$warningbg: #ffa;
$warningfg: #aa0;

$oopsfg: white;
$oopsbg: tomato;

$shadow-50pc: rgba(0,0,0,0.5);
$shadow-30pc: rgba(0,0,0,0.3);

// Fonts
//$primary-fontface: Helvetica,Arial,sans-serif;
//$title-fontface:BitterLocal,"Trebuchet MS",$primary-fontface;
//$sub-title-fontface:  "Arial Black","Trebuchet MS",$primary-fontface;
$base-font-size: 10px;
$base-line-height: 150%;
$base-border-width: 1px;
//$border:solid 2px $primary-colour;

// Sizings
$base-gap:10px;
$base-shadow:10px;


