@charset "UTF-8";
/* Frontend layout */
/* Any styling defaults should be included in the styling defaults values in options */
.pzarchitect .message-warning {
  background: #ffa;
  color: #aa0;
  border: solid 1px #aa0;
  padding: 10px; }

.pzarchitect .message-notify {
  background: #afa;
  color: #0a0;
  border: solid 1px #0a0;
  padding: 10px; }

.pzarchitect .message-error {
  font-size: 16px;
  font-family: sans-serif;
  color: white;
  background: tomato;
  border: none;
  display: inline-block;
  margin: 10px 0;
  padding: 20px; }

.pzarchitect .arc-date-filter-error {
  color: red;
  padding: 5px 0; }

.architect-demo-mode .pzarc-blueprint {
  border: 1px dashed blue !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }
  .architect-demo-mode .pzarc-blueprint:hover .pzarc-panel {
    outline: 1px dashed red !important; }

.pzarchitect a.button, .pzarchitect button, .pzarchitect html input[type="button"], .pzarchitect input[type="reset"], .pzarchitect input[type="submit"] {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none; }

.pzarchitect.pzarc-blueprint {
  display: block;
  position: relative; }
  .pzarchitect.pzarc-blueprint .arc-sorting-and-filtering .arc-sort-buttons {
    display: block; }
  .pzarchitect.pzarc-blueprint .arc-sorting-and-filtering .button-group {
    padding: 5px; }
    .pzarchitect.pzarc-blueprint .arc-sorting-and-filtering .button-group.sort-by-button-group, .pzarchitect.pzarc-blueprint .arc-sorting-and-filtering .button-group.sort-order-button-group {
      display: inline-block; }

.pzarchitect .pzarc-sections {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.pzarchitect .pzarc-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  /* Added for gridded layout. May break others! Equal height panels*/
  display: block;
  counter-reset: arc-title-counter; }
  .pzarchitect .pzarc-section.tiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /* Unsupported in FF ATOW!! Argh! */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.pzarchitect h2.pzarc-page-title {
  font-size: 1.5em;
  line-height: 1.5em; }

.pzarchitect .pzarc-section-title h3 {
  font-size: 1.2em;
  line-height: 1.2em; }

.pzarchitect .pzarc-pager {
  display: table;
  padding: 10px 0;
  width: 100%; }

.pzarchitect .pzarc-pager-prev,
.pzarchitect .pzarc-pager-next {
  /*font-size:13px;*/
  /*font-weight:bold;*/
  /*background: #eee;*/
  /*padding:10px 5px;*/ }

.pzarchitect .pzarc-pager-prev {
  float: left;
  /*border-top-left-radius: 20px;*/
  /*border-bottom-left-radius: 20px;*/
  /*padding-right:10px;*/ }

.pzarchitect .pzarc-pager-next {
  float: right;
  /*border-top-right-radius: 20px;*/
  /*border-bottom-right-radius: 20px;*/
  /*padding-left:10px;*/ }

.pzarchitect .pzarc-blueprint .entry-excerpt.pznothumb,
.pzarchitect .pzarc-blueprint .entry-content.pznothumb {
  width: 100%; }

.pzarchitect .pzarc-align.left {
  float: left;
  padding-right: 2%; }

.pzarchitect .pzarc-align.right {
  float: right;
  padding-left: 2%; }

.pzarchitect .mfp-content .mfp-title {
  font-weight: bold; }
  .pzarchitect .mfp-content .mfp-title .caption {
    font-weight: normal;
    font-size: smaller; }

.pzarchitect .hide-content + article,
.pzarchitect .hide-content + .page,
.pzarchitect .hide-content + .hentry {
  display: none; }

.pzarchitect .pzarc-blueprint-footer {
  display: inline-block;
  margin: 5px 0;
  padding: 5px 0; }

.pzarchitect .arc-fs-loc-top,
.pzarchitect .arc-fs-loc-left,
.pzarchitect .arc-fs-loc-bottom,
.pzarchitect .arc-fs-loc-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .pzarchitect .arc-fs-loc-top .pzarc-sections,
  .pzarchitect .arc-fs-loc-left .pzarc-sections,
  .pzarchitect .arc-fs-loc-bottom .pzarc-sections,
  .pzarchitect .arc-fs-loc-right .pzarc-sections {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.pzarchitect .arc-fs-loc-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.pzarchitect .arc-fs-loc-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.pzarchitect .arc-fs-loc-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.pzarchitect .arc-fs-loc-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.pzarchitect .disable-save img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none; }

.pzarchitect .pzarc-panel {
  /* Remember to remove space between divs to stop inline-block space issue */
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  position: relative;
  overflow: hidden; }
  .pzarchitect .pzarc-panel.pzarc-wow {
    visibility: hidden; }
  .pzarchitect .pzarc-panel header.entry-header,
  .pzarchitect .pzarc-panel footer.entry-footer {
    float: left;
    width: 100%; }
  .pzarchitect .pzarc-panel .entry-image {
    max-width: 100%;
    display: block; }
  .pzarchitect .pzarc-panel .pzarc-panel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99; }
  .pzarchitect .pzarc-panel .entry-excerpt,
  .pzarchitect .pzarc-panel .entry-content {
    /*    -ms-word-break: break-all;
          word-break: break-all;

          /* Non standard for webkit */
    /* word-break: break-word;

       -webkit-hyphens: auto;
       -moz-hyphens: auto;
       hyphens: auto;
       */
    word-break: break-word;
    word-wrap: break-word; }
    .pzarchitect .pzarc-panel .entry-excerpt.nothumb.maxwidth,
    .pzarchitect .pzarc-panel .entry-content.nothumb.maxwidth {
      width: 100% !important; }
  .pzarchitect .pzarc-panel .entry-excerpt {
    float: left; }
  .pzarchitect .pzarc-panel .entry-thumbnail {
    float: left; }
    .pzarchitect .pzarc-panel .entry-thumbnail img {
      max-width: 100%;
      height: auto;
      width: auto; }
      .pzarchitect .pzarc-panel .entry-thumbnail img.fullscreen {
        max-width: none;
        width: auto;
        height: 100vh; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_fill {
      -o-object-fit: fill;
         object-fit: fill; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_contain {
      -o-object-fit: contain;
         object-fit: contain; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_cover {
      -o-object-fit: cover;
         object-fit: cover; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_none {
      -o-object-fit: none;
         object-fit: none; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_scale-down {
      -o-object-fit: scale-down;
         object-fit: scale-down; }
    .pzarchitect .pzarc-panel .entry-thumbnail.centred {
      float: none;
      margin: 0 auto;
      text-align: center; }
      .pzarchitect .pzarc-panel .entry-thumbnail.centred img {
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .pzarchitect .pzarc-panel .entry-thumbnail .caption {
      display: block; }
    .pzarchitect .pzarc-panel .entry-thumbnail.pzarc-components-right {
      float: left; }
    .pzarchitect .pzarc-panel .entry-thumbnail.pzarc-components-left {
      float: right; }
  .pzarchitect .pzarc-panel .pzarc-title-thumb {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: left;
    margin-right: 3px; }
  .pzarchitect .pzarc-panel .pzarc-title-wrap {
    vertical-align: middle; }
  .pzarchitect .pzarc-panel .entry-title,
  .pzarchitect .pzarc-panel .entry-excerpt,
  .pzarchitect .pzarc-panel .entry-thumbnail,
  .pzarchitect .pzarc-panel .entry-content,
  .pzarchitect .pzarc-panel .entry-meta {
    display: block;
    float: left;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .pzarchitect .pzarc-panel .entry-title img.avatar,
    .pzarchitect .pzarc-panel .entry-excerpt img.avatar,
    .pzarchitect .pzarc-panel .entry-thumbnail img.avatar,
    .pzarchitect .pzarc-panel .entry-content img.avatar,
    .pzarchitect .pzarc-panel .entry-meta img.avatar {
      vertical-align: middle; }
  .pzarchitect .pzarc-panel .entry-thumbnail img {
    vertical-align: top; }
  .pzarchitect .pzarc-panel .entry-customfieldgroup {
    display: block;
    float: left; }
  .pzarchitect .pzarc-panel .vertical-content {
    top: 0;
    bottom: 0;
    height: 100%; }
  .pzarchitect .pzarc-panel .pzarc-components {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    position: relative; }
    .pzarchitect .pzarc-panel .pzarc-components.pzarc-align-left {
      float: left;
      clear: none; }
    .pzarchitect .pzarc-panel .pzarc-components.pzarc-align-right {
      float: right;
      clear: none; }
  .pzarchitect .pzarc-panel figure.pzarc-bg-image {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    z-index: 0;
    overflow: hidden;
    position: relative; }
    .pzarchitect .pzarc-panel figure.pzarc-bg-image img {
      display: block;
      height: auto; }
      .pzarchitect .pzarc-panel figure.pzarc-bg-image img.fullscreen {
        max-width: none;
        width: auto;
        height: 100vh; }
    .pzarchitect .pzarc-panel figure.pzarc-bg-image.fill.trim {
      max-width: none;
      display: inline-block;
      right: -50%;
      overflow: visible;
      vertical-align: top; }
      .pzarchitect .pzarc-panel figure.pzarc-bg-image.fill.trim img {
        max-width: none;
        position: relative;
        left: -50%; }
    .pzarchitect .pzarc-panel figure.pzarc-bg-image.fill.scale img {
      max-width: 100%; }
    .pzarchitect .pzarc-panel figure.pzarc-bg-image.align {
      top: 0; }
      .pzarchitect .pzarc-panel figure.pzarc-bg-image.align.scale {
        max-width: none; }
      .pzarchitect .pzarc-panel figure.pzarc-bg-image.align.scale img {
        max-width: 100%; }
  .pzarchitect .pzarc-panel.using-bgimages .pzarc-components {
    position: absolute;
    z-index: 1; }
  .pzarchitect .pzarc-panel.using-bgimages > figure {
    position: relative;
    z-index: 0; }
  .pzarchitect .pzarc-panel.using-aligned-bgimages .pzarc-components {
    position: relative;
    z-index: 1; }
  .pzarchitect .pzarc-panel.using-aligned-bgimages > figure {
    position: absolute;
    z-index: 0; }
    .pzarchitect .pzarc-panel.using-aligned-bgimages > figure img {
      max-width: none; }
  .pzarchitect .pzarc-panel .pzarc-presuff-image {
    vertical-align: middle; }
  .pzarchitect .pzarc-panel .lightbox img {
    cursor: zoom-in;
    cursor: -webkit-zoom-in; }
  .pzarchitect .pzarc-panel td.td-entry-title,
  .pzarchitect .pzarc-panel td.entry-meta,
  .pzarchitect .pzarc-panel td.entry-content,
  .pzarchitect .pzarc-panel td.entry-excerpt,
  .pzarchitect .pzarc-panel td.td-entry-thumbnail {
    display: table-cell;
    float: none;
    line-height: initial;
    text-align: initial;
    vertical-align: top;
    border-top: initial; }
  .pzarchitect .pzarc-panel td.td-entry-title h1.entry-title,
  .pzarchitect .pzarc-panel td.td-entry-thumbnail figure.entry-thumbnail {
    width: 100%; }
  .pzarchitect .pzarc-panel td {
    padding: 1%; }
  .pzarchitect .pzarc-panel.pzarc-slidedown-fullwidth.pzarc-open {
    width: 100% !important; }
  .pzarchitect .pzarc-panel .pzarc-back, .pzarchitect .pzarc-panel .pzarc-front {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto; }
  .pzarchitect .pzarc-panel .pzarc-back {
    display: none;
    overflow-y: auto; }
  .pzarchitect .pzarc-panel .pzarc-close-back {
    text-align: center;
    padding: 5px; }

.pzarchitect tr.pzarc-panel {
  display: table-row; }
  .pzarchitect tr.pzarc-panel h1.entry-title {
    width: 100% !important; }

.pzarchitect table {
  border-collapse: collapse; }
  .pzarchitect table thead {
    background: #eee; }
  .pzarchitect table.datatables tbody,
  .pzarchitect table.datatables thead {
    display: table;
    width: 100%; }

.pzarchitect .rtl .pzarc-accordion.title a:after {
  content: "►";
  float: left;
  margin-left: 10px;
  font-size: 10px; }

.pzarchitect .ltr .pzarc-accordion.title a:after {
  content: "◄";
  float: right;
  margin-right: 10px;
  font-size: 12px; }

.pzarchitect .pzarc-accordion.title a {
  color: inherit;
  text-decoration: none;
  display: block; }
  .pzarchitect .pzarc-accordion.title a:after {
    font-family: sans-serif;
    font-size: 12px; }

.pzarchitect .pzarc-accordion.title:hover a {
  color: inherit;
  text-decoration: none; }

.pzarchitect .pzarc-accordion.title.open a:after {
  content: "▼";
  font-size: 9px; }

.pzarchitect .pzarc-accordion.title.close {
  float: none; }

.pzarchitect p.wpml-ls-statics-post_translations.wpml-ls {
  clear: none; }

.pzarchitect {
  /* ===============================================================
    Your custom styles, here you need to specify container's and slide's
    sizes, pagination, etc.
    ================================================================*/
  /* ===============================================================
  Pagination Styles
  ================================================================*/ }
  .pzarchitect .msie .pzarc-navigator {
    height: 0; }
  .pzarchitect .pzarc-navigator {
    left: 0;
    text-align: center;
    z-index: 1;
    display: block; }
    .pzarchitect .pzarc-navigator.tabbed {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .pzarchitect .pzarc-navigator.tabbed.vertical {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
    .pzarchitect .pzarc-navigator.outside.top {
      position: relative;
      z-index: 1;
      top: 0px;
      bottom: initial; }
    .pzarchitect .pzarc-navigator.outside.bottom {
      bottom: 0px;
      top: initial; }
    .pzarchitect .pzarc-navigator.inside {
      position: absolute;
      z-index: 1; }
      .pzarchitect .pzarc-navigator.inside.top {
        top: 15px;
        bottom: initial; }
      .pzarchitect .pzarc-navigator.inside.bottom {
        bottom: 15px;
        top: initial; }
  .pzarchitect .arc-slider-slide-active {
    /* Specific active slide styling: */ }
  .pzarchitect .arc-slider-slide-visible {
    /* Specific visible slide styling: */ }
  .pzarchitect .navpos-left .arc-slider-slide-nav-item,
  .pzarchitect .navpos-right .arc-slider-slide-nav-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both; }
  .pzarchitect .navpos-left .pzarc-navigator,
  .pzarchitect .navpos-right .pzarc-navigator {
    height: 100%;
    display: block;
    top: 0; }
  .pzarchitect .navpos-left .pzarc-sections,
  .pzarchitect .navpos-right .pzarc-sections {
    display: block;
    top: 0; }
  .pzarchitect .navpos-right .pzarc-navigator {
    right: 0; }
  .pzarchitect .navpos-top .arc-slider-slide-nav-item,
  .pzarchitect .navpos-bottom .arc-slider-slide-nav-item {
    display: inline-block;
    margin: 0 3px; }
  .pzarchitect .navpos-top .tabbed .arc-slider-slide-nav-item,
  .pzarchitect .navpos-bottom .tabbed .arc-slider-slide-nav-item {
    margin: 0; }
  .pzarchitect .navpos-top .has-pager .thumbs.pzarc-navigator,
  .pzarchitect .navpos-bottom .has-pager .thumbs.pzarc-navigator {
    width: 80%;
    left: 10%; }
  .pzarchitect .navpos-top .arc-slider-container,
  .pzarchitect .navpos-bottom .arc-slider-container {
    /* Specify slider's Size: */
    padding: 0; }
    .pzarchitect .navpos-top .arc-slider-container .arc-slider-slide,
    .pzarchitect .navpos-bottom .arc-slider-container .arc-slider-slide {
      /* Specify Slides's Size: */
      height: auto; }
  .pzarchitect .navpos-top .nav-align-left,
  .pzarchitect .navpos-bottom .nav-align-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    right: initial; }
  .pzarchitect .navpos-top .nav-align-right,
  .pzarchitect .navpos-bottom .nav-align-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: initial; }
  .pzarchitect .navpos-top .nav-align-right,
  .pzarchitect .navpos-bottom .nav-align-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    left: initial; }
  .pzarchitect .bullets .arc-slider-slide-nav-item {
    /* Stylize pagination button: */
    width: 15px;
    height: 15px;
    background: #999;
    cursor: pointer; }
    .pzarchitect .bullets .arc-slider-slide-nav-item.small {
      width: 12px !important;
      height: 12px;
      padding: 0 !important; }
    .pzarchitect .bullets .arc-slider-slide-nav-item.medium {
      width: 15px !important;
      height: 15px;
      padding: 0 !important; }
    .pzarchitect .bullets .arc-slider-slide-nav-item.large {
      width: 18px !important;
      height: 18px;
      padding: 0 !important; }
    .pzarchitect .bullets .arc-slider-slide-nav-item:hover {
      background: #ccc; }
    .pzarchitect .bullets .arc-slider-slide-nav-item.active {
      /* Specific active button style: */
      background: #fff; }
  .pzarchitect .bullets.circle .arc-slider-slide-nav-item {
    border-radius: 15px; }
  .pzarchitect .bullets.square .arc-slider-slide-nav-item {
    border-radius: 1px; }
  .pzarchitect .tabbed .arc-slider-slide-nav-item {
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pzarchitect .thumbs .arc-slider-slide-nav-item {
    /* Stylize pagination button: */ }
    .pzarchitect .thumbs .arc-slider-slide-nav-item img {
      vertical-align: middle;
      display: inline;
      width: auto;
      height: auto;
      max-width: 100%;
      margin: 2px; }
      .pzarchitect .thumbs .arc-slider-slide-nav-item img:hover {
        -webkit-box-shadow: 0 0 0 1px #000, 0 0 0 2px #fff;
                box-shadow: 0 0 0 1px #000, 0 0 0 2px #fff; }
    .pzarchitect .thumbs .arc-slider-slide-nav-item.active img {
      -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #000;
              box-shadow: 0 0 0 1px #fff, 0 0 0 2px #000; }
  .pzarchitect .thumbs span.dashicons {
    font-size: 3em;
    display: inline-table; }
  .pzarchitect .numbers .arc-slider-slide-nav-item {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    color: #999;
    line-height: 1;
    text-align: center; }
    .pzarchitect .numbers .arc-slider-slide-nav-item.small {
      font-size: 22px; }
    .pzarchitect .numbers .arc-slider-slide-nav-item.medium {
      font-size: 28px; }
    .pzarchitect .numbers .arc-slider-slide-nav-item.large {
      font-size: 34px; }
    .pzarchitect .numbers .arc-slider-slide-nav-item:hover {
      color: #ccc; }
    .pzarchitect .numbers .arc-slider-slide-nav-item.active {
      /* Specific active button style: */
      color: #fff; }
  .pzarchitect .arc-slider-slide-nav-item {
    cursor: pointer; }
  .pzarchitect .arc-slider-slide-nav-item-visible {
    /* Specific style for nav buttons for visible panels: */ }
  .pzarchitect .nav-navigator {
    overflow: hidden; }
    .pzarchitect .nav-navigator button.pager {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      border-radius: 3px;
      padding: 5px;
      z-index: 2;
      display: none !important;
      font-family: icomoon;
      font-size: 32px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      background: rgba(0, 0, 0, 0.3); }
      .pzarchitect .nav-navigator button.pager:focus {
        outline: none; }
      .pzarchitect .nav-navigator button.pager.arrow-left {
        left: 1%; }
      .pzarchitect .nav-navigator button.pager.arrow-right {
        right: 1%; }
    .pzarchitect .nav-navigator:hover .arrow-right,
    .pzarchitect .nav-navigator:hover .arrow-left {
      display: block !important; }
      .pzarchitect .nav-navigator:hover .arrow-right.hide,
      .pzarchitect .nav-navigator:hover .arrow-left.hide {
        display: none; }
  .pzarchitect .arc-slider-nav {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0; }
    .pzarchitect .arc-slider-nav:hover .skip-right,
    .pzarchitect .arc-slider-nav:hover .skip-left {
      display: block !important; }
    .pzarchitect .arc-slider-nav button.pager {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      padding: 0;
      z-index: 2;
      text-decoration: none;
      display: none;
      background: none; }
      .pzarchitect .arc-slider-nav button.pager:hover {
        display: block; }
      .pzarchitect .arc-slider-nav button.pager span {
        vertical-align: middle;
        margin: 0;
        padding: 2px;
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 30px;
        font-size: 19px;
        display: block;
        color: #fff;
        background: rgba(0, 0, 0, 0.3); }
        .pzarchitect .arc-slider-nav button.pager span.circle {
          border-radius: 30px; }
        .pzarchitect .arc-slider-nav button.pager span.square {
          border-radius: 2px; }
      .pzarchitect .arc-slider-nav button.pager.skip-left {
        left: 5px; }
      .pzarchitect .arc-slider-nav button.pager.skip-right {
        right: 5px; }
  .pzarchitect .pzarc-navigator.inside {
    width: 100%; }
    .pzarchitect .pzarc-navigator.inside .arc-slider-wrapper {
      width: 100% !important; }
  .pzarchitect .arc-slider-nav .arc-slider-wrapper {
    margin: 0 auto; }
  .pzarchitect .arc-slider-nav .arc-slider-wrapper > span:hover {
    background: rgba(255, 255, 255, 0.3); }
  .pzarchitect .arc-slider-nav.thumbs .arc-slider-slide {
    display: inline-block; }

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
  width: 20px;
  height: 20px; }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6; }

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1; }
