@charset "UTF-8";
/* Frontend layout */
/* Any styling defaults should be included in the styling defaults values in options */
.pzarchitect .message-warning {
  background: #ffa;
  color: #aa0;
  border: solid 1px #aa0;
  padding: 10px; }
.pzarchitect .message-error {
  font-size: 16px;
  font-family: sans-serif;
  color: tomato;
  background: #faf2f5;
  border: 1px solid tomato;
  display: inline-block;
  margin: 10px 0;
  padding: 20px; }

.pzarchitect a.button, .pzarchitect button, .pzarchitect html input[type="button"], .pzarchitect input[type="reset"], .pzarchitect input[type="submit"] {
  border: none;
  box-shadow: none;
  text-shadow: none; }
.pzarchitect.pzarc-blueprint {
  display: block;
  position: relative; }
  .pzarchitect.pzarc-blueprint .arc-sort-buttons {
    display: block; }
  .pzarchitect.pzarc-blueprint .button-group {
    padding: 5px; }
    .pzarchitect.pzarc-blueprint .button-group label {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold; }
    .pzarchitect.pzarc-blueprint .button-group.sort-by-button-group, .pzarchitect.pzarc-blueprint .button-group.sort-order-button-group {
      display: inline-block; }
    .pzarchitect.pzarc-blueprint .button-group button {
      margin-right: 5px;
      margin-bottom: 5px; }
      .pzarchitect.pzarc-blueprint .button-group button.current, .pzarchitect.pzarc-blueprint .button-group button.active {
        background: #0d47a1;
        color: white; }
.pzarchitect .pzarc-sections {
  box-sizing: border-box; }
.pzarchitect .pzarc-section {
  box-sizing: border-box;
  position: relative;
  /* Added for gridded layout. May break others! Equal height panels*/
  display: block;
  counter-reset: arc-title-counter; }
  .pzarchitect .pzarc-section.tiles {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    /* Unsupported in FF ATOW!! Argh! */
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap; }
.pzarchitect h2.pzarc-page-title {
  font-size: 1.5em;
  line-height: 1.5em; }
.pzarchitect .pzarc-section-title h3 {
  font-size: 1.2em;
  line-height: 1.2em; }
.pzarchitect .pzarc-pager {
  display: table;
  padding: 10px 0;
  width: 100%; }
.pzarchitect .pzarc-pager-prev,
.pzarchitect .pzarc-pager-next {
  /*font-size:13px;*/
  /*font-weight:bold;*/
  /*background: #eee;*/
  /*padding:10px 5px;*/ }
.pzarchitect .pzarc-pager-prev {
  float: left;
  /*border-top-left-radius: 20px;*/
  /*border-bottom-left-radius: 20px;*/
  /*padding-right:10px;*/ }
.pzarchitect .pzarc-pager-next {
  float: right;
  /*border-top-right-radius: 20px;*/
  /*border-bottom-right-radius: 20px;*/
  /*padding-left:10px;*/ }
.pzarchitect .pzarc-blueprint .entry-excerpt.pznothumb,
.pzarchitect .pzarc-blueprint .entry-content.pznothumb {
  width: 100%; }
.pzarchitect .pzarc-align.left {
  float: left;
  padding-right: 2%; }
.pzarchitect .pzarc-align.right {
  float: right;
  padding-left: 2%; }
.pzarchitect .mfp-content .mfp-title {
  font-weight: bold; }
  .pzarchitect .mfp-content .mfp-title .caption {
    font-weight: normal;
    font-size: smaller; }
.pzarchitect .hide-content + article,
.pzarchitect .hide-content + .page,
.pzarchitect .hide-content + .hentry {
  display: none; }

.pzarchitect .pzarc-panel {
  /* Remember to remove space between divs to stop inline-block space issue */
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  overflow: hidden; }
  .pzarchitect .pzarc-panel.pzarc-wow {
    visibility: hidden; }
  .pzarchitect .pzarc-panel header.entry-header,
  .pzarchitect .pzarc-panel footer.entry-footer {
    float: left;
    width: 100%; }
  .pzarchitect .pzarc-panel .entry-image {
    max-width: 100%;
    display: block; }
  .pzarchitect .pzarc-panel .pzarc-panel-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99; }
  .pzarchitect .pzarc-panel .entry-excerpt,
  .pzarchitect .pzarc-panel .entry-content {
      /*    -ms-word-break: break-all;
          word-break: break-all;

          /* Non standard for webkit */
      /* word-break: break-word;

       -webkit-hyphens: auto;
       -moz-hyphens: auto;
       hyphens: auto;
       */
    word-break: break-word;
    word-wrap: break-word; }
    .pzarchitect .pzarc-panel .entry-excerpt.nothumb.maxwidth,
    .pzarchitect .pzarc-panel .entry-content.nothumb.maxwidth {
      width: 100% !important; }
  .pzarchitect .pzarc-panel .entry-excerpt {
    float: left; }
  .pzarchitect .pzarc-panel .entry-thumbnail {
    float: left; }
    .pzarchitect .pzarc-panel .entry-thumbnail img {
      max-width: 100%;
      height: auto;
      width: auto; }
      .pzarchitect .pzarc-panel .entry-thumbnail img.fullscreen {
        max-width: none;
        width: auto;
        height: 100vh; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_fill {
      object-fit: fill; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_contain {
      object-fit: contain; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_cover {
      object-fit: cover; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_none {
      object-fit: none; }
    .pzarchitect .pzarc-panel .entry-thumbnail.object-fit_scale-down {
      object-fit: scale-down; }
    .pzarchitect .pzarc-panel .entry-thumbnail.centred {
      float: none;
      margin: 0 auto;
      text-align: center; }
    .pzarchitect .pzarc-panel .entry-thumbnail .caption {
      display: block; }
    .pzarchitect .pzarc-panel .entry-thumbnail.pzarc-components-right {
      float: left; }
    .pzarchitect .pzarc-panel .entry-thumbnail.pzarc-components-left {
      float: right; }
  .pzarchitect .pzarc-panel .pzarc-title-thumb {
    display: inline-flex;
    float: left;
    margin-right: 3px; }
  .pzarchitect .pzarc-panel .pzarc-title-wrap {
    vertical-align: middle; }
  .pzarchitect .pzarc-panel .entry-title,
  .pzarchitect .pzarc-panel .entry-excerpt,
  .pzarchitect .pzarc-panel .entry-thumbnail,
  .pzarchitect .pzarc-panel .entry-content,
  .pzarchitect .pzarc-panel .entry-meta {
    display: block;
    float: left;
    vertical-align: top;
    box-sizing: border-box; }
  .pzarchitect .pzarc-panel .entry-thumbnail img {
    vertical-align: top; }
  .pzarchitect .pzarc-panel .entry-customfieldgroup {
    display: block;
    float: left; }
  .pzarchitect .pzarc-panel .vertical-content {
    top: 0;
    bottom: 0;
    height: 100%; }
  .pzarchitect .pzarc-panel .pzarc-components {
    box-sizing: border-box;
    overflow: hidden;
    position: relative; }
    .pzarchitect .pzarc-panel .pzarc-components.pzarc-align-left {
      float: left;
      clear: none; }
    .pzarchitect .pzarc-panel .pzarc-components.pzarc-align-right {
      float: right;
      clear: none; }
  .pzarchitect .pzarc-panel figure.pzarc-bg-image {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    z-index: 0;
    overflow: hidden;
    position: relative; }
    .pzarchitect .pzarc-panel figure.pzarc-bg-image img {
      display: block;
      height: auto; }
      .pzarchitect .pzarc-panel figure.pzarc-bg-image img.fullscreen {
        max-width: none;
        width: auto;
        height: 100vh; }
    .pzarchitect .pzarc-panel figure.pzarc-bg-image.fill.trim {
      max-width: none;
      display: inline-block;
      right: -50%;
      overflow: visible;
      vertical-align: top; }
      .pzarchitect .pzarc-panel figure.pzarc-bg-image.fill.trim img {
        max-width: none;
        position: relative;
        left: -50%; }
    .pzarchitect .pzarc-panel figure.pzarc-bg-image.fill.scale img {
      max-width: 100%; }
    .pzarchitect .pzarc-panel figure.pzarc-bg-image.align {
      top: 0; }
      .pzarchitect .pzarc-panel figure.pzarc-bg-image.align.scale {
        max-width: none; }
      .pzarchitect .pzarc-panel figure.pzarc-bg-image.align.scale img {
        max-width: 100%; }
  .pzarchitect .pzarc-panel.using-bgimages .pzarc-components {
    position: absolute;
    z-index: 1; }
  .pzarchitect .pzarc-panel.using-bgimages > figure {
    position: relative;
    z-index: 0; }
  .pzarchitect .pzarc-panel.using-aligned-bgimages .pzarc-components {
    position: relative;
    z-index: 1; }
  .pzarchitect .pzarc-panel.using-aligned-bgimages > figure {
    position: absolute;
    z-index: 0; }
    .pzarchitect .pzarc-panel.using-aligned-bgimages > figure img {
      max-width: none; }
  .pzarchitect .pzarc-panel .pzarc-presuff-image {
    vertical-align: middle; }
  .pzarchitect .pzarc-panel .lightbox img {
    cursor: zoom-in;
    cursor: -webkit-zoom-in; }
  .pzarchitect .pzarc-panel td.td-entry-title,
  .pzarchitect .pzarc-panel td.entry-meta,
  .pzarchitect .pzarc-panel td.entry-content,
  .pzarchitect .pzarc-panel td.entry-excerpt,
  .pzarchitect .pzarc-panel td.td-entry-thumbnail {
    display: table-cell;
    float: none;
    line-height: initial;
    text-align: initial;
    vertical-align: top;
    border-top: initial; }
  .pzarchitect .pzarc-panel td.td-entry-title h1.entry-title,
  .pzarchitect .pzarc-panel td.td-entry-thumbnail figure.entry-thumbnail {
    width: 100%; }
  .pzarchitect .pzarc-panel td {
    padding: 1%; }
.pzarchitect tr.pzarc-panel {
  display: table-row; }
  .pzarchitect tr.pzarc-panel h1.entry-title {
    width: 100% !important; }
.pzarchitect table {
  border-collapse: collapse; }
  .pzarchitect table thead {
    background: #eee; }
  .pzarchitect table.datatables tbody,
  .pzarchitect table.datatables thead {
    display: table;
    width: 100%; }
.pzarchitect .rtl .pzarc-accordion.title a:after {
  content: "►";
  float: left;
  margin-left: 10px;
  font-size: 10px; }
.pzarchitect .ltr .pzarc-accordion.title a:after {
  content: "◄";
  float: right;
  margin-right: 10px;
  font-size: 12px; }
.pzarchitect .pzarc-accordion.title a {
  color: inherit;
  text-decoration: none;
  display: block; }
  .pzarchitect .pzarc-accordion.title a:after {
    font-family: sans-serif;
    font-size: 12px; }
.pzarchitect .pzarc-accordion.title:hover a {
  color: inherit;
  text-decoration: none; }
.pzarchitect .pzarc-accordion.title.open a:after {
  content: "▼";
  font-size: 9px; }

.pzarchitect {
  /* ===============================================================
    Your custom styles, here you need to specify container's and slide's
    sizes, pagination, etc.
    ================================================================*/
  /* ===============================================================
  Pagination Styles
  ================================================================*/ }
  .pzarchitect .msie .pzarc-navigator {
    height: 0; }
  .pzarchitect .pzarc-navigator {
    left: 0;
    text-align: center;
    z-index: 1;
    display: block; }
    .pzarchitect .pzarc-navigator.tabbed {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      flex-direction: row; }
      .pzarchitect .pzarc-navigator.tabbed.vertical {
        flex-direction: column; }
    .pzarchitect .pzarc-navigator.outside.top {
      position: relative;
      z-index: 1;
      top: 0px;
      bottom: initial; }
    .pzarchitect .pzarc-navigator.outside.bottom {
      bottom: 0px;
      top: initial; }
    .pzarchitect .pzarc-navigator.inside {
      position: absolute;
      z-index: 1; }
      .pzarchitect .pzarc-navigator.inside.top {
        top: 15px;
        bottom: initial; }
      .pzarchitect .pzarc-navigator.inside.bottom {
        bottom: 15px;
        top: initial; }
  .pzarchitect .arc-slider-slide-active {
    /* Specific active slide styling: */ }
  .pzarchitect .arc-slider-slide-visible {
    /* Specific visible slide styling: */ }
  .pzarchitect .navpos-left .arc-slider-slide-nav-item,
  .pzarchitect .navpos-right .arc-slider-slide-nav-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both; }
  .pzarchitect .navpos-left .pzarc-navigator,
  .pzarchitect .navpos-right .pzarc-navigator {
    height: 100%;
    display: block;
    top: 0; }
  .pzarchitect .navpos-left .pzarc-sections,
  .pzarchitect .navpos-right .pzarc-sections {
    display: block;
    top: 0; }
  .pzarchitect .navpos-right .pzarc-navigator {
    right: 0; }
  .pzarchitect .navpos-top .arc-slider-slide-nav-item,
  .pzarchitect .navpos-bottom .arc-slider-slide-nav-item {
    display: inline-block;
    margin: 0 3px; }
  .pzarchitect .navpos-top .has-pager .thumbs.pzarc-navigator,
  .pzarchitect .navpos-bottom .has-pager .thumbs.pzarc-navigator {
    width: 80%;
    left: 10%; }
  .pzarchitect .navpos-top .arc-slider-container,
  .pzarchitect .navpos-bottom .arc-slider-container {
    /* Specify slider's Size: */
    padding: 0; }
    .pzarchitect .navpos-top .arc-slider-container .arc-slider-slide,
    .pzarchitect .navpos-bottom .arc-slider-container .arc-slider-slide {
      /* Specify Slides's Size: */
      height: 100%; }
  .pzarchitect .navpos-top .nav-align-left,
  .pzarchitect .navpos-bottom .nav-align-left {
    text-align: left;
    right: initial; }
  .pzarchitect .navpos-top .nav-align-right,
  .pzarchitect .navpos-bottom .nav-align-right {
    text-align: right;
    left: initial; }
  .pzarchitect .bullets .arc-slider-slide-nav-item {
    /* Stylize pagination button: */
    width: 15px;
    height: 15px;
    background: #999;
    box-shadow: 0px 1px 2px #555 inset;
    cursor: pointer; }
    .pzarchitect .bullets .arc-slider-slide-nav-item.small {
      width: 12px !important;
      height: 12px;
      padding: 0 !important; }
    .pzarchitect .bullets .arc-slider-slide-nav-item.medium {
      width: 15px !important;
      height: 15px;
      padding: 0 !important; }
    .pzarchitect .bullets .arc-slider-slide-nav-item.large {
      width: 18px !important;
      height: 18px;
      padding: 0 !important; }
    .pzarchitect .bullets .arc-slider-slide-nav-item:hover {
      background: #ccc; }
    .pzarchitect .bullets .arc-slider-slide-nav-item.active {
      /* Specific active button style: */
      background: #fff; }
  .pzarchitect .bullets.circle .arc-slider-slide-nav-item {
    border-radius: 15px; }
  .pzarchitect .bullets.square .arc-slider-slide-nav-item {
    border-radius: 1px;
    border-bottom: 1px solid #999; }
  .pzarchitect .tabbed .arc-slider-slide-nav-item {
    cursor: pointer;
    box-sizing: border-box; }
  .pzarchitect .thumbs .arc-slider-slide-nav-item {
    /* Stylize pagination button: */ }
    .pzarchitect .thumbs .arc-slider-slide-nav-item img {
      vertical-align: middle;
      display: inline;
      width: auto;
      height: auto;
      max-width: 100%;
      margin: 2px; }
      .pzarchitect .thumbs .arc-slider-slide-nav-item img:hover {
        box-shadow: 0 0 0 1px #000, 0 0 0 2px #fff; }
    .pzarchitect .thumbs .arc-slider-slide-nav-item.active img {
      box-shadow: 0 0 0 1px #fff, 0 0 0 2px #000; }
  .pzarchitect .thumbs span.dashicons {
    font-size: 3em;
    display: inline-table; }
  .pzarchitect .numbers .arc-slider-slide-nav-item {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    color: #999;
    line-height: 1;
    text-align: center; }
    .pzarchitect .numbers .arc-slider-slide-nav-item.small {
      font-size: 22px; }
    .pzarchitect .numbers .arc-slider-slide-nav-item.medium {
      font-size: 28px; }
    .pzarchitect .numbers .arc-slider-slide-nav-item.large {
      font-size: 34px; }
    .pzarchitect .numbers .arc-slider-slide-nav-item:hover {
      color: #ccc; }
    .pzarchitect .numbers .arc-slider-slide-nav-item.active {
      /* Specific active button style: */
      color: #fff; }
  .pzarchitect .arc-slider-slide-nav-item {
    cursor: pointer; }
  .pzarchitect .arc-slider-slide-nav-item-visible {
    /* Specific style for nav buttons for visible panels: */ }
  .pzarchitect .nav-navigator {
    overflow: hidden; }
    .pzarchitect .nav-navigator button.pager {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      border-radius: 3px;
      padding: 5px;
      z-index: 2;
      display: none !important;
      font-family: icomoon;
      font-size: 32px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      background: rgba(0, 0, 0, 0.3); }
      .pzarchitect .nav-navigator button.pager:focus {
        outline: none; }
      .pzarchitect .nav-navigator button.pager.arrow-left {
        left: 1%; }
      .pzarchitect .nav-navigator button.pager.arrow-right {
        right: 1%; }
    .pzarchitect .nav-navigator:hover .arrow-right,
    .pzarchitect .nav-navigator:hover .arrow-left {
      display: block !important; }
      .pzarchitect .nav-navigator:hover .arrow-right.hide,
      .pzarchitect .nav-navigator:hover .arrow-left.hide {
        display: none; }
  .pzarchitect .arc-slider-nav {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0; }
    .pzarchitect .arc-slider-nav:hover .skip-right,
    .pzarchitect .arc-slider-nav:hover .skip-left {
      display: block !important; }
    .pzarchitect .arc-slider-nav button.pager {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      padding: 0;
      z-index: 2;
      text-decoration: none;
      display: none;
      background: none; }
      .pzarchitect .arc-slider-nav button.pager:hover {
        display: block; }
      .pzarchitect .arc-slider-nav button.pager span {
        vertical-align: middle;
        margin: 0;
        padding: 2px;
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 30px;
        font-size: 19px;
        display: block;
        color: #fff;
        background: rgba(0, 0, 0, 0.3); }
        .pzarchitect .arc-slider-nav button.pager span.circle {
          border-radius: 30px; }
        .pzarchitect .arc-slider-nav button.pager span.square {
          border-radius: 2px; }
      .pzarchitect .arc-slider-nav button.pager.skip-left {
        left: 5px; }
      .pzarchitect .arc-slider-nav button.pager.skip-right {
        right: 5px; }
  .pzarchitect .pzarc-navigator.inside {
    width: 100%; }
    .pzarchitect .pzarc-navigator.inside .arc-slider-wrapper {
      width: 100% !important; }
  .pzarchitect .arc-slider-nav .arc-slider-wrapper {
    margin: 0 auto; }
  .pzarchitect .arc-slider-nav .arc-slider-wrapper > span:hover {
    background: rgba(255, 255, 255, 0.3); }
  .pzarchitect .arc-slider-nav.thumbs .arc-slider-slide {
    display: inline-block; }

/*
 Set a base font size
html {
  font-size:62.5%;
}


.pzarc_panel {
    float:left;
    box-sizing:border-box;
 }

.pzarc_panel_header,
.pzarc_panel_footer {
    width:100%;
    box-sizing:border-box;
    clear:both;
}
.pzarc_panel_header {
  margin-bottom:20px;
  margin-bottom:2rems;
}
.pzarc_panel_footer {
  margin-top:10px;
  margin-top:1rems;
}
.pzarc_panel_header_left,
.pzarc_panel_footer_left {
    float:left;
    box-sizing:border-box;
}
.pzarc_panel_header_right,
.pzarc_panel_footer_right {
    float:right;
    box-sizing:border-box;
}


.pzarc_panel_columns {
    width:100%;
    box-sizing:border-box;
    clear:both;
}

.pzarc_panel_left_col,
.pzarc_panel_centre_col,
.pzarc_panel_right_col {
    float:left;
    box-sizing:border-box;
}
.pzarc_panel_left_col {width:25%;}
.pzarc_panel_centre_col {width:75%;}
.pzarc_panel_right_col {width:0;}


.pzarc_clearfloat {
    clear:both;
}

default styling
.pzarc_entry_meta,
.pzarc_entry_meta a
 {
  font-size:11px;
  font-size:1.1rems;
    color:#777;
    text-decoration:none;
  margin-bottom:5px;
  margin-bottom:0.5rems;
}



 remember this for the background of text
.pzarc-a-textarea {
    background:rgba(32,63,96,0.5);
    color:red;
    width:50%;
  padding:20px;
  padding:2rems;
  margin:5px;
  margin:0.5rems;
}
*/
