// THIS IS THE SCSS VERSION

/* Frontend layout */
/* Any styling defaults should be included in the styling defaults values in options */

// Prefix everything with pzarchitect
@import "_vars.scss";

.pzarchitect {


  @import "_comms.scss";
  @import "_structure.scss";
  @import "_panels.scss";
  @import "_slider.scss";

  //body a {
  //  text-decoration:none;
  //}

}

/*
 Set a base font size
html {
  font-size:62.5%;
}


.pzarc_panel {
    float:left;
    box-sizing:border-box;
 }

.pzarc_panel_header,
.pzarc_panel_footer {
    width:100%;
    box-sizing:border-box;
    clear:both;
}
.pzarc_panel_header {
  margin-bottom:20px;
  margin-bottom:2rems;
}
.pzarc_panel_footer {
  margin-top:10px;
  margin-top:1rems;
}
.pzarc_panel_header_left,
.pzarc_panel_footer_left {
    float:left;
    box-sizing:border-box;
}
.pzarc_panel_header_right,
.pzarc_panel_footer_right {
    float:right;
    box-sizing:border-box;
}


.pzarc_panel_columns {
    width:100%;
    box-sizing:border-box;
    clear:both;
}

.pzarc_panel_left_col,
.pzarc_panel_centre_col,
.pzarc_panel_right_col {
    float:left;
    box-sizing:border-box;
}
.pzarc_panel_left_col {width:25%;}
.pzarc_panel_centre_col {width:75%;}
.pzarc_panel_right_col {width:0;}


.pzarc_clearfloat {
    clear:both;
}

default styling
.pzarc_entry_meta,
.pzarc_entry_meta a
 {
  font-size:11px;
  font-size:1.1rems;
    color:#777;
    text-decoration:none;
  margin-bottom:5px;
  margin-bottom:0.5rems;
}



 remember this for the background of text
.pzarc-a-textarea {
    background:rgba(32,63,96,0.5);
    color:red;
    width:50%;
  padding:20px;
  padding:2rems;
  margin:5px;
  margin:0.5rems;
}
*/
