/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:bb9463e8bad426a50f40b155b03adef0$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(defaulticons.png);}

.3D-Cube {width:32px; height:32px; background-position: -478px -784px}
.3D-X-Axis-Rotation {width:32px; height:32px; background-position: -478px -750px}
.3D-Y-Axis-Rotation {width:32px; height:32px; background-position: -478px -716px}
.3D-Z-Axis-Rotation {width:32px; height:32px; background-position: -478px -682px}
.3D-cylinder {width:32px; height:32px; background-position: -478px -648px}
.3D-glasses {width:32px; height:32px; background-position: -478px -614px}
.3D-plane {width:32px; height:32px; background-position: -478px -580px}
.3D-pyramid {width:32px; height:32px; background-position: -478px -546px}
.3D-sphere {width:32px; height:32px; background-position: -478px -512px}
.3D-wedge {width:32px; height:32px; background-position: -478px -478px}
.4-direction {width:32px; height:32px; background-position: -954px -444px}
.4-direction-alt {width:32px; height:32px; background-position: -988px -444px}
.8-direction {width:32px; height:32px; background-position: -886px -444px}
.8-direction-alt {width:32px; height:32px; background-position: -920px -444px}
.MD-analog {width:32px; height:32px; background-position: -852px -444px}
.MD-aspect-ratio {width:32px; height:32px; background-position: -784px -444px}
.MD-aspect-ratio-alt {width:32px; height:32px; background-position: -818px -444px}
.MD-audio {width:32px; height:32px; background-position: -750px -444px}
.MD-backward {width:32px; height:32px; background-position: -716px -444px}
.MD-betamax {width:32px; height:32px; background-position: -682px -444px}
.MD-brightness {width:32px; height:32px; background-position: -648px -444px}
.MD-camera-photo {width:32px; height:32px; background-position: -512px -444px}
.MD-camera-photo-alt-1 {width:32px; height:32px; background-position: -614px -444px}
.MD-camera-photo-alt-2 {width:32px; height:32px; background-position: -580px -444px}
.MD-camera-photo-alt-3 {width:32px; height:32px; background-position: -546px -444px}
.MD-camera-polaroid {width:32px; height:32px; background-position: -478px -444px}
.MD-camera-surveillance {width:32px; height:32px; background-position: -444px -988px}
.MD-camera-video {width:32px; height:32px; background-position: -444px -886px}
.MD-camera-video-alt-1 {width:32px; height:32px; background-position: -444px -954px}
.MD-camera-video-alt-2 {width:32px; height:32px; background-position: -444px -920px}
.MD-camera-web {width:32px; height:32px; background-position: -444px -852px}
.MD-cassette-tape {width:32px; height:32px; background-position: -444px -818px}
.MD-cd {width:32px; height:32px; background-position: -444px -716px}
.MD-cd-burn {width:32px; height:32px; background-position: -444px -784px}
.MD-cd-card {width:32px; height:32px; background-position: -444px -750px}
.MD-contrast {width:32px; height:32px; background-position: -444px -682px}
.MD-dat {width:32px; height:32px; background-position: -444px -648px}
.MD-disc-3'' {width:32px; height:32px; background-position: -444px -614px}
.MD-disc-3-5'' {width:32px; height:32px; background-position: -444px -580px}
.MD-disc-5-1-4'' {width:32px; height:32px; background-position: -444px -546px}
.MD-eject {width:32px; height:32px; background-position: -444px -512px}
.MD-equalizer {width:32px; height:32px; background-position: -444px -444px}
.MD-equalizer-alt {width:32px; height:32px; background-position: -444px -478px}
.MD-fast-backward {width:32px; height:32px; background-position: -954px -410px}
.MD-fast-backward-alt {width:32px; height:32px; background-position: -988px -410px}
.MD-fast-forward {width:32px; height:32px; background-position: -886px -410px}
.MD-fast-forward-alt {width:32px; height:32px; background-position: -920px -410px}
.MD-film {width:32px; height:32px; background-position: -852px -410px}
.MD-flash {width:32px; height:32px; background-position: -818px -410px}
.MD-headphones {width:32px; height:32px; background-position: -716px -410px}
.MD-headphones-alt {width:32px; height:32px; background-position: -784px -410px}
.MD-headphones-mic {width:32px; height:32px; background-position: -750px -410px}
.MD-inverse {width:32px; height:32px; background-position: -682px -410px}
.MD-knob {width:32px; height:32px; background-position: -512px -410px}
.MD-knob-alt {width:32px; height:32px; background-position: -648px -410px}
.MD-knob-decrease {width:32px; height:32px; background-position: -614px -410px}
.MD-knob-increase {width:32px; height:32px; background-position: -580px -410px}
.MD-knob-volume {width:32px; height:32px; background-position: -546px -410px}
.MD-levels {width:32px; height:32px; background-position: -410px -954px}
.MD-levels-alt {width:32px; height:32px; background-position: -478px -410px}
.MD-levels-decrease {width:32px; height:32px; background-position: -444px -410px}
.MD-levels-increase {width:32px; height:32px; background-position: -410px -988px}
.MD-microphone {width:32px; height:32px; background-position: -410px -886px}
.MD-microphone-alt {width:32px; height:32px; background-position: -410px -920px}
.MD-minidisc {width:32px; height:32px; background-position: -410px -852px}
.MD-music {width:32px; height:32px; background-position: -410px -818px}
.MD-next {width:32px; height:32px; background-position: -410px -784px}
.MD-pause {width:32px; height:32px; background-position: -410px -750px}
.MD-photo {width:32px; height:32px; background-position: -410px -648px}
.MD-photo-alt-1 {width:32px; height:32px; background-position: -410px -682px}
.MD-photo-alt-2 {width:32px; height:32px; background-position: -410px -716px}
.MD-photos {width:32px; height:32px; background-position: -410px -580px}
.MD-photos-alt {width:32px; height:32px; background-position: -410px -614px}
.MD-picture-broken:link {width:32px; height:32px; background-position: -410px -512px}
.MD-picture-broken-link-alt {width:32px; height:32px; background-position: -410px -546px}
.MD-play {width:32px; height:32px; background-position: -410px -478px}
.MD-previous {width:32px; height:32px; background-position: -410px -444px}
.MD-radio {width:32px; height:32px; background-position: -410px -410px}
.MD-record {width:32px; height:32px; background-position: -988px -376px}
.MD-reload {width:32px; height:32px; background-position: -954px -376px}
.MD-repeat {width:32px; height:32px; background-position: -852px -376px}
.MD-repeat-alt {width:32px; height:32px; background-position: -920px -376px}
.MD-repeat-once {width:32px; height:32px; background-position: -886px -376px}
.MD-resume {width:32px; height:32px; background-position: -818px -376px}
.MD-shuffle {width:32px; height:32px; background-position: -784px -376px}
.MD-sound {width:32px; height:32px; background-position: -750px -376px}
.MD-speaker {width:32px; height:32px; background-position: -682px -376px}
.MD-speaker-alt {width:32px; height:32px; background-position: -716px -376px}
.MD-split {width:32px; height:32px; background-position: -648px -376px}
.MD-stop {width:32px; height:32px; background-position: -614px -376px}
.MD-stream-audio {width:32px; height:32px; background-position: -580px -376px}
.MD-stream-video {width:32px; height:32px; background-position: -546px -376px}
.MD-synth {width:32px; height:32px; background-position: -512px -376px}
.MD-time-pos-back {width:32px; height:32px; background-position: -478px -376px}
.MD-time-pos-forward {width:32px; height:32px; background-position: -444px -376px}
.MD-time-pos-set {width:32px; height:32px; background-position: -410px -376px}
.MD-time-position {width:32px; height:32px; background-position: -376px -988px}
.MD-tv {width:32px; height:32px; background-position: -376px -954px}
.MD-vhs {width:32px; height:32px; background-position: -376px -920px}
.MD-video {width:32px; height:32px; background-position: -376px -886px}
.MD-vinyl-33-1-3 {width:32px; height:32px; background-position: -376px -852px}
.MD-vinyl-45 {width:32px; height:32px; background-position: -376px -818px}
.MD-volume-0 {width:32px; height:32px; background-position: -376px -750px}
.MD-volume-0-alt {width:32px; height:32px; background-position: -376px -784px}
.MD-volume-1 {width:32px; height:32px; background-position: -376px -716px}
.MD-volume-2 {width:32px; height:32px; background-position: -376px -682px}
.MD-volume-3 {width:32px; height:32px; background-position: -376px -648px}
.MD-volume-down {width:32px; height:32px; background-position: -376px -614px}
.MD-volume-up {width:32px; height:32px; background-position: -376px -580px}
.about {width:32px; height:32px; background-position: -376px -546px}
.access {width:32px; height:32px; background-position: -376px -512px}
.activity {width:32px; height:32px; background-position: -376px -478px}
.add {width:32px; height:32px; background-position: -376px -444px}
.address-book {width:32px; height:32px; background-position: -376px -410px}
.airport {width:32px; height:32px; background-position: -376px -376px}
.alarm {width:32px; height:32px; background-position: -988px -342px}
.alert {width:32px; height:32px; background-position: -920px -342px}
.alert-alt {width:32px; height:32px; background-position: -954px -342px}
.alt {width:32px; height:32px; background-position: -886px -342px}
.anchor {width:32px; height:32px; background-position: -852px -342px}
.announce {width:32px; height:32px; background-position: -818px -342px}
.antivirus {width:32px; height:32px; background-position: -750px -342px}
.antivirus-alt {width:32px; height:32px; background-position: -784px -342px}
.arrow-1-backward {width:32px; height:32px; background-position: -716px -342px}
.arrow-1-down {width:32px; height:32px; background-position: -614px -342px}
.arrow-1-down-left {width:32px; height:32px; background-position: -682px -342px}
.arrow-1-down-right {width:32px; height:32px; background-position: -648px -342px}
.arrow-1-forward {width:32px; height:32px; background-position: -580px -342px}
.arrow-1-left {width:32px; height:32px; background-position: -546px -342px}
.arrow-1-right {width:32px; height:32px; background-position: -512px -342px}
.arrow-1-up {width:32px; height:32px; background-position: -410px -342px}
.arrow-1-up-left {width:32px; height:32px; background-position: -478px -342px}
.arrow-1-up-right {width:32px; height:32px; background-position: -444px -342px}
.arrow-2-down {width:32px; height:32px; background-position: -342px -954px}
.arrow-2-down-left {width:32px; height:32px; background-position: -376px -342px}
.arrow-2-down-right {width:32px; height:32px; background-position: -342px -988px}
.arrow-2-left {width:32px; height:32px; background-position: -342px -920px}
.arrow-2-right {width:32px; height:32px; background-position: -342px -886px}
.arrow-2-up {width:32px; height:32px; background-position: -342px -784px}
.arrow-2-up-left {width:32px; height:32px; background-position: -342px -852px}
.arrow-2-up-right {width:32px; height:32px; background-position: -342px -818px}
.arrow-3-down {width:32px; height:32px; background-position: -342px -682px}
.arrow-3-down-left {width:32px; height:32px; background-position: -342px -750px}
.arrow-3-down-right {width:32px; height:32px; background-position: -342px -716px}
.arrow-3-left {width:32px; height:32px; background-position: -342px -648px}
.arrow-3-right {width:32px; height:32px; background-position: -342px -614px}
.arrow-3-up {width:32px; height:32px; background-position: -342px -512px}
.arrow-3-up-left {width:32px; height:32px; background-position: -342px -580px}
.arrow-3-up-right {width:32px; height:32px; background-position: -342px -546px}
.arrow-4-down {width:32px; height:32px; background-position: -342px -410px}
.arrow-4-down-left {width:32px; height:32px; background-position: -342px -478px}
.arrow-4-down-right {width:32px; height:32px; background-position: -342px -444px}
.arrow-4-left {width:32px; height:32px; background-position: -342px -376px}
.arrow-4-right {width:32px; height:32px; background-position: -342px -342px}
.arrow-4-up {width:32px; height:32px; background-position: -920px -308px}
.arrow-4-up-left {width:32px; height:32px; background-position: -988px -308px}
.arrow-4-up-right {width:32px; height:32px; background-position: -954px -308px}
.arrow-5-down {width:32px; height:32px; background-position: -886px -308px}
.arrow-5-left {width:32px; height:32px; background-position: -852px -308px}
.arrow-5-right {width:32px; height:32px; background-position: -818px -308px}
.arrow-5-up {width:32px; height:32px; background-position: -784px -308px}
.arrow-6-down {width:32px; height:32px; background-position: -750px -308px}
.arrow-6-left {width:32px; height:32px; background-position: -716px -308px}
.arrow-6-right {width:32px; height:32px; background-position: -682px -308px}
.arrow-6-up {width:32px; height:32px; background-position: -648px -308px}
.arrow-7-down {width:32px; height:32px; background-position: -614px -308px}
.arrow-7-left {width:32px; height:32px; background-position: -580px -308px}
.arrow-7-right {width:32px; height:32px; background-position: -546px -308px}
.arrow-7-up {width:32px; height:32px; background-position: -512px -308px}
.arrow-8-down {width:32px; height:32px; background-position: -478px -308px}
.arrow-8-left {width:32px; height:32px; background-position: -444px -308px}
.arrow-8-right {width:32px; height:32px; background-position: -410px -308px}
.arrow-8-up {width:32px; height:32px; background-position: -376px -308px}
.arrow-circular-alt-1 {width:32px; height:32px; background-position: -342px -308px}
.arrow-circular-alt-2 {width:32px; height:32px; background-position: -308px -988px}
.arrow-orthogonal-alt-1 {width:32px; height:32px; background-position: -308px -954px}
.arrow-orthogonal-alt-2 {width:32px; height:32px; background-position: -308px -920px}
.asterisk {width:32px; height:32px; background-position: -308px -852px}
.asterisk-alt {width:32px; height:32px; background-position: -308px -886px}
.attachment {width:32px; height:32px; background-position: -308px -818px}
.axis-x-y {width:32px; height:32px; background-position: -308px -750px}
.axis-x-y-alt {width:32px; height:32px; background-position: -308px -784px}
.badge {width:32px; height:32px; background-position: -308px -716px}
.bag {width:32px; height:32px; background-position: -308px -512px}
.bag-alt-1 {width:32px; height:32px; background-position: -308px -682px}
.bag-alt-2 {width:32px; height:32px; background-position: -308px -648px}
.bag-alt-3 {width:32px; height:32px; background-position: -308px -614px}
.bag-alt-4 {width:32px; height:32px; background-position: -308px -580px}
.bag-alt-5 {width:32px; height:32px; background-position: -308px -546px}
.baggage {width:32px; height:32px; background-position: -308px -478px}
.balance {width:32px; height:32px; background-position: -308px -444px}
.bank {width:32px; height:32px; background-position: -308px -342px}
.bank-alt-1 {width:32px; height:32px; background-position: -308px -410px}
.bank-alt-2 {width:32px; height:32px; background-position: -308px -376px}
.barcode {width:32px; height:32px; background-position: -308px -308px}
.basket {width:32px; height:32px; background-position: -886px -274px}
.basket-alt-1 {width:32px; height:32px; background-position: -988px -274px}
.basket-alt-2 {width:32px; height:32px; background-position: -954px -274px}
.basket-alt-3 {width:32px; height:32px; background-position: -920px -274px}
.battery-empty {width:32px; height:32px; background-position: -818px -274px}
.battery-empty-alt {width:32px; height:32px; background-position: -852px -274px}
.battery-full {width:32px; height:32px; background-position: -750px -274px}
.battery-full-alt {width:32px; height:32px; background-position: -784px -274px}
.bicycle {width:32px; height:32px; background-position: -716px -274px}
.blog {width:32px; height:32px; background-position: -682px -274px}
.bluetooth {width:32px; height:32px; background-position: -648px -274px}
.book {width:32px; height:32px; background-position: -478px -274px}
.book-alt {width:32px; height:32px; background-position: -512px -274px}
.book-alt-2 {width:32px; height:32px; background-position: -614px -274px}
.book-alt-3 {width:32px; height:32px; background-position: -580px -274px}
.book-alt-4 {width:32px; height:32px; background-position: -546px -274px}
.bookmark {width:32px; height:32px; background-position: -410px -274px}
.bookmark-alt {width:32px; height:32px; background-position: -444px -274px}
.books {width:32px; height:32px; background-position: -376px -274px}
.box {width:32px; height:32px; background-position: -308px -274px}
.box-alt {width:32px; height:32px; background-position: -342px -274px}
.briefcase {width:32px; height:32px; background-position: -274px -988px}
.brush {width:32px; height:32px; background-position: -274px -886px}
.brush-alt-1 {width:32px; height:32px; background-position: -274px -954px}
.brush-alt-2 {width:32px; height:32px; background-position: -274px -920px}
.bug {width:32px; height:32px; background-position: -274px -852px}
.bussiness-card {width:32px; height:32px; background-position: -274px -818px}
.cake {width:32px; height:32px; background-position: -274px -750px}
.cake-alt {width:32px; height:32px; background-position: -274px -784px}
.calculator {width:32px; height:32px; background-position: -274px -682px}
.calculator-alt {width:32px; height:32px; background-position: -274px -716px}
.calendar {width:32px; height:32px; background-position: -274px -580px}
.calendar-alt-1 {width:32px; height:32px; background-position: -274px -648px}
.calendar-alt-2 {width:32px; height:32px; background-position: -274px -614px}
.cancel {width:32px; height:32px; background-position: -274px -546px}
.cart {width:32px; height:32px; background-position: -274px -308px}
.cart-alt-1 {width:32px; height:32px; background-position: -274px -512px}
.cart-alt-2 {width:32px; height:32px; background-position: -274px -478px}
.cart-alt-3 {width:32px; height:32px; background-position: -274px -444px}
.cart-alt-4 {width:32px; height:32px; background-position: -274px -410px}
.cart-alt-5 {width:32px; height:32px; background-position: -274px -376px}
.cart-alt-6 {width:32px; height:32px; background-position: -274px -342px}
.chair {width:32px; height:32px; background-position: -988px -240px}
.chair-alt {width:32px; height:32px; background-position: -274px -274px}
.chat {width:32px; height:32px; background-position: -750px -240px}
.chat:active {width:32px; height:32px; background-position: -886px -240px}
.chat-active-alt-1 {width:32px; height:32px; background-position: -954px -240px}
.chat-active-alt-2 {width:32px; height:32px; background-position: -920px -240px}
.chat-alt-1 {width:32px; height:32px; background-position: -852px -240px}
.chat-alt-2 {width:32px; height:32px; background-position: -818px -240px}
.chat-alt-3 {width:32px; height:32px; background-position: -784px -240px}
.check {width:32px; height:32px; background-position: -682px -240px}
.check-alt {width:32px; height:32px; background-position: -716px -240px}
.checkbox {width:32px; height:32px; background-position: -614px -240px}
.checkbox-empty {width:32px; height:32px; background-position: -648px -240px}
.cheque {width:32px; height:32px; background-position: -580px -240px}
.cinema {width:32px; height:32px; background-position: -546px -240px}
.city {width:32px; height:32px; background-position: -512px -240px}
.code {width:32px; height:32px; background-position: -478px -240px}
.color-picker {width:32px; height:32px; background-position: -444px -240px}
.color-swatch {width:32px; height:32px; background-position: -410px -240px}
.comment {width:32px; height:32px; background-position: -342px -240px}
.comment-alt {width:32px; height:32px; background-position: -376px -240px}
.compass {width:32px; height:32px; background-position: -274px -240px}
.compass-alt {width:32px; height:32px; background-position: -308px -240px}
.compress {width:32px; height:32px; background-position: -240px -988px}
.computer {width:32px; height:32px; background-position: -240px -886px}
.computer-laptop {width:32px; height:32px; background-position: -240px -954px}
.computer-retro {width:32px; height:32px; background-position: -240px -920px}
.connect {width:32px; height:32px; background-position: -240px -784px}
.connect-alt-1 {width:32px; height:32px; background-position: -240px -852px}
.connect-alt-2 {width:32px; height:32px; background-position: -240px -818px}
.connection-error {width:32px; height:32px; background-position: -240px -682px}
.connection-error-alt-1 {width:32px; height:32px; background-position: -240px -750px}
.connection-error-alt-2 {width:32px; height:32px; background-position: -240px -716px}
.construction {width:32px; height:32px; background-position: -240px -648px}
.content {width:32px; height:32px; background-position: -240px -614px}
.controls {width:32px; height:32px; background-position: -240px -512px}
.controls-alt-1 {width:32px; height:32px; background-position: -240px -580px}
.controls-alt-2 {width:32px; height:32px; background-position: -240px -546px}
.copy {width:32px; height:32px; background-position: -240px -478px}
.couch {width:32px; height:32px; background-position: -240px -376px}
.couch-alt-1 {width:32px; height:32px; background-position: -240px -444px}
.couch-alt-2 {width:32px; height:32px; background-position: -240px -410px}
.counter {width:32px; height:32px; background-position: -240px -342px}
.credit-card {width:32px; height:32px; background-position: -240px -308px}
.crop {width:32px; height:32px; background-position: -240px -274px}
.cross {width:32px; height:32px; background-position: -240px -240px}
.cup {width:32px; height:32px; background-position: -954px -206px}
.cup-alt {width:32px; height:32px; background-position: -988px -206px}
.cut {width:32px; height:32px; background-position: -920px -206px}
.data {width:32px; height:32px; background-position: -818px -206px}
.data-alt-1 {width:32px; height:32px; background-position: -886px -206px}
.data-alt-2 {width:32px; height:32px; background-position: -852px -206px}
.database {width:32px; height:32px; background-position: -206px -920px}
.database-add {width:32px; height:32px; background-position: -716px -206px}
.database-add-alt-1 {width:32px; height:32px; background-position: -784px -206px}
.database-add-alt-2 {width:32px; height:32px; background-position: -750px -206px}
.database-alt-1 {width:32px; height:32px; background-position: -682px -206px}
.database-alt-2 {width:32px; height:32px; background-position: -648px -206px}
.database-download {width:32px; height:32px; background-position: -546px -206px}
.database-download-alt-1 {width:32px; height:32px; background-position: -614px -206px}
.database-download-alt-2 {width:32px; height:32px; background-position: -580px -206px}
.database-reload {width:32px; height:32px; background-position: -444px -206px}
.database-reload-alt-1 {width:32px; height:32px; background-position: -512px -206px}
.database-reload-alt-2 {width:32px; height:32px; background-position: -478px -206px}
.database-remove {width:32px; height:32px; background-position: -342px -206px}
.database-remove-alt-1 {width:32px; height:32px; background-position: -410px -206px}
.database-remove-alt-2 {width:32px; height:32px; background-position: -376px -206px}
.database-upload {width:32px; height:32px; background-position: -240px -206px}
.database-upload-alt-1 {width:32px; height:32px; background-position: -308px -206px}
.database-upload-alt-2 {width:32px; height:32px; background-position: -274px -206px}
.database-user {width:32px; height:32px; background-position: -206px -954px}
.database-user-alt {width:32px; height:32px; background-position: -206px -988px}
.delete {width:32px; height:32px; background-position: -206px -886px}
.directions {width:32px; height:32px; background-position: -206px -818px}
.directions-alt {width:32px; height:32px; background-position: -206px -852px}
.display {width:32px; height:32px; background-position: -206px -716px}
.display-mac {width:32px; height:32px; background-position: -206px -750px}
.display-mac-alt {width:32px; height:32px; background-position: -206px -784px}
.document {width:32px; height:32px; background-position: -206px -614px}
.document-empty {width:32px; height:32px; background-position: -206px -682px}
.document-new {width:32px; height:32px; background-position: -206px -648px}
.documents {width:32px; height:32px; background-position: -206px -580px}
.door {width:32px; height:32px; background-position: -206px -512px}
.door-closed {width:32px; height:32px; background-position: -206px -546px}
.download {width:32px; height:32px; background-position: -206px -342px}
.download-alt-1 {width:32px; height:32px; background-position: -206px -478px}
.download-alt-2 {width:32px; height:32px; background-position: -206px -444px}
.download-alt-3 {width:32px; height:32px; background-position: -206px -410px}
.download-alt-4 {width:32px; height:32px; background-position: -206px -376px}
.drawer {width:32px; height:32px; background-position: -206px -240px}
.drawer-locked {width:32px; height:32px; background-position: -206px -308px}
.drawer-unlocked {width:32px; height:32px; background-position: -206px -274px}
.drawers {width:32px; height:32px; background-position: -954px -172px}
.drawers-alt-1 {width:32px; height:32px; background-position: -206px -206px}
.drawers-alt-2 {width:32px; height:32px; background-position: -988px -172px}
.drill {width:32px; height:32px; background-position: -920px -172px}
.drive-disk-cd {width:32px; height:32px; background-position: -886px -172px}
.drive-network {width:32px; height:32px; background-position: -852px -172px}
.edit {width:32px; height:32px; background-position: -716px -172px}
.edit-alt-1 {width:32px; height:32px; background-position: -818px -172px}
.edit-alt-2 {width:32px; height:32px; background-position: -784px -172px}
.edit-document {width:32px; height:32px; background-position: -750px -172px}
.eightball {width:32px; height:32px; background-position: -682px -172px}
.elevator {width:32px; height:32px; background-position: -648px -172px}
.enter {width:32px; height:32px; background-position: -614px -172px}
.eraser {width:32px; height:32px; background-position: -580px -172px}
.ethernet {width:32px; height:32px; background-position: -546px -172px}
.export {width:32px; height:32px; background-position: -512px -172px}
.facebook {width:64px; height:64px; background-position: -2px -2px}
.facebook-alt {width:32px; height:32px; background-position: -478px -172px}
.factory {width:32px; height:32px; background-position: -444px -172px}
.fan {width:32px; height:32px; background-position: -376px -172px}
.fan-alt {width:32px; height:32px; background-position: -410px -172px}
.favourite {width:32px; height:32px; background-position: -308px -172px}
.favourite-add {width:32px; height:32px; background-position: -342px -172px}
.file {width:32px; height:32px; background-position: -172px -852px}
.file-add {width:32px; height:32px; background-position: -274px -172px}
.file-download {width:32px; height:32px; background-position: -206px -172px}
.file-download-alt {width:32px; height:32px; background-position: -240px -172px}
.file-edit {width:32px; height:32px; background-position: -172px -988px}
.file-remove {width:32px; height:32px; background-position: -172px -954px}
.file-upload {width:32px; height:32px; background-position: -172px -886px}
.file-upload-alt {width:32px; height:32px; background-position: -172px -920px}
.files {width:32px; height:32px; background-position: -172px -818px}
.fill {width:32px; height:32px; background-position: -172px -784px}
.filter {width:32px; height:32px; background-position: -172px -750px}
.find {width:32px; height:32px; background-position: -172px -716px}
.fire {width:32px; height:32px; background-position: -172px -682px}
.firewall {width:32px; height:32px; background-position: -172px -648px}
.firewire {width:32px; height:32px; background-position: -172px -614px}
.first-aid {width:32px; height:32px; background-position: -172px -546px}
.first-aid-alt {width:32px; height:32px; background-position: -172px -580px}
.flag {width:32px; height:32px; background-position: -172px -512px}
.folder {width:32px; height:32px; background-position: -172px -444px}
.folder-open {width:32px; height:32px; background-position: -172px -478px}
.font {width:32px; height:32px; background-position: -172px -410px}
.food {width:32px; height:32px; background-position: -172px -376px}
.ftp {width:32px; height:32px; background-position: -172px -274px}
.ftp-alt-1 {width:32px; height:32px; background-position: -172px -342px}
.ftp-alt-2 {width:32px; height:32px; background-position: -172px -308px}
.full-screen {width:32px; height:32px; background-position: -750px -138px}
.full-screen-alt-1 {width:32px; height:32px; background-position: -172px -240px}
.full-screen-alt-2 {width:32px; height:32px; background-position: -172px -206px}
.full-screen-alt-3 {width:32px; height:32px; background-position: -172px -172px}
.full-screen-alt-4 {width:32px; height:32px; background-position: -988px -138px}
.full-screen-alt-5 {width:32px; height:32px; background-position: -954px -138px}
.full-screen-exit {width:32px; height:32px; background-position: -784px -138px}
.full-screen-exit-alt-1 {width:32px; height:32px; background-position: -920px -138px}
.full-screen-exit-alt-2 {width:32px; height:32px; background-position: -886px -138px}
.full-screen-exit-alt-3 {width:32px; height:32px; background-position: -852px -138px}
.full-screen-exit-alt-4 {width:32px; height:32px; background-position: -818px -138px}
.full-screen-exit-alt-5 {width:32px; height:32px; background-position: -852px -138px}
.gameboy {width:32px; height:32px; background-position: -716px -138px}
.games {width:32px; height:32px; background-position: -478px -138px}
.games-alt-1 {width:32px; height:32px; background-position: -682px -138px}
.games-alt-2 {width:32px; height:32px; background-position: -648px -138px}
.games-alt-3 {width:32px; height:32px; background-position: -614px -138px}
.games-alt-4 {width:32px; height:32px; background-position: -580px -138px}
.games-alt-5 {width:32px; height:32px; background-position: -546px -138px}
.games-alt-6 {width:32px; height:32px; background-position: -512px -138px}
.gift {width:32px; height:32px; background-position: -444px -138px}
.glasses {width:32px; height:32px; background-position: -376px -138px}
.glasses-swim {width:32px; height:32px; background-position: -410px -138px}
.grid {width:32px; height:32px; background-position: -206px -138px}
.grid-alt-1 {width:32px; height:32px; background-position: -342px -138px}
.grid-alt-2 {width:32px; height:32px; background-position: -308px -138px}
.grid-alt-3 {width:32px; height:32px; background-position: -274px -138px}
.grid-dot {width:32px; height:32px; background-position: -240px -138px}
.hammer {width:32px; height:32px; background-position: -138px -988px}
.hammer-alt {width:32px; height:32px; background-position: -172px -138px}
.hardware-chip {width:32px; height:32px; background-position: -138px -954px}
.hardware-processor {width:32px; height:32px; background-position: -138px -920px}
.hedge {width:32px; height:32px; background-position: -138px -886px}
.help {width:32px; height:32px; background-position: -138px -818px}
.help-alt {width:32px; height:32px; background-position: -138px -852px}
.hierarchy {width:32px; height:32px; background-position: -138px -784px}
.high-definition {width:32px; height:32px; background-position: -138px -750px}
.home {width:32px; height:32px; background-position: -138px -716px}
.i-phone {width:32px; height:32px; background-position: -138px -682px}
.i-pod {width:32px; height:32px; background-position: -138px -648px}
.icecream {width:32px; height:32px; background-position: -138px -614px}
.idea {width:32px; height:32px; background-position: -138px -546px}
.idea-alt {width:32px; height:32px; background-position: -138px -580px}
.info {width:32px; height:32px; background-position: -138px -512px}
.key {width:32px; height:32px; background-position: -852px -104px}
.key-A {width:32px; height:32px; background-position: -138px -478px}
.key-Alt {width:32px; height:32px; background-position: -138px -444px}
.key-apple {width:32px; height:32px; background-position: -138px -410px}
.key-backspace {width:32px; height:32px; background-position: -138px -342px}
.key-backspace-alt {width:32px; height:32px; background-position: -138px -376px}
.key-caps {width:32px; height:32px; background-position: -138px -308px}
.key-command {width:32px; height:32px; background-position: -138px -274px}
.key-control {width:32px; height:32px; background-position: -138px -240px}
.key-enter {width:32px; height:32px; background-position: -138px -206px}
.key-option {width:32px; height:32px; background-position: -138px -172px}
.key-page-down {width:32px; height:32px; background-position: -138px -138px}
.key-page-up {width:32px; height:32px; background-position: -988px -104px}
.key-shift {width:32px; height:32px; background-position: -954px -104px}
.key-tab {width:32px; height:32px; background-position: -920px -104px}
.key-windows {width:32px; height:32px; background-position: -886px -104px}
.keyboard {width:32px; height:32px; background-position: -818px -104px}
.keyhole {width:32px; height:32px; background-position: -784px -104px}
.kokoretsi {width:32px; height:32px; background-position: -750px -104px}
.kraftwerk {width:32px; height:32px; background-position: -716px -104px}
.label {width:32px; height:32px; background-position: -682px -104px}
.lamp {width:32px; height:32px; background-position: -580px -104px}
.lamp-alt-1 {width:32px; height:32px; background-position: -648px -104px}
.lamp-alt-2 {width:32px; height:32px; background-position: -614px -104px}
.layers {width:32px; height:32px; background-position: -546px -104px}
.layout {width:32px; height:32px; background-position: -410px -104px}
.layout-content {width:32px; height:32px; background-position: -512px -104px}
.layout-header {width:32px; height:32px; background-position: -478px -104px}
.layout-sidebar {width:32px; height:32px; background-position: -444px -104px}
.license-key {width:32px; height:32px; background-position: -376px -104px}
.link {width:32px; height:32px; background-position: -308px -104px}
.link-broken {width:32px; height:32px; background-position: -342px -104px}
.list {width:32px; height:32px; background-position: -172px -104px}
.list-numbered {width:32px; height:32px; background-position: -274px -104px}
.list-ordered {width:32px; height:32px; background-position: -240px -104px}
.list-unordered {width:32px; height:32px; background-position: -206px -104px}
.location {width:32px; height:32px; background-position: -138px -104px}
.login {width:32px; height:32px; background-position: -104px -988px}
.logout {width:32px; height:32px; background-position: -104px -954px}
.luck {width:32px; height:32px; background-position: -104px -920px}
.magnet {width:32px; height:32px; background-position: -104px -886px}
.mail {width:32px; height:32px; background-position: -104px -750px}
.mail-inbox {width:32px; height:32px; background-position: -104px -852px}
.mail-read {width:32px; height:32px; background-position: -104px -818px}
.mail-sent {width:32px; height:32px; background-position: -104px -784px}
.man {width:32px; height:32px; background-position: -104px -716px}
.map {width:32px; height:32px; background-position: -104px -648px}
.map-marker-pin {width:32px; height:32px; background-position: -104px -682px}
.medal {width:32px; height:32px; background-position: -104px -580px}
.medal-alt {width:32px; height:32px; background-position: -104px -614px}
.mobile {width:32px; height:32px; background-position: -104px -512px}
.mobile-alt {width:32px; height:32px; background-position: -104px -546px}
.module {width:32px; height:32px; background-position: -104px -478px}
.moleskine {width:32px; height:32px; background-position: -104px -444px}
.moon {width:32px; height:32px; background-position: -104px -410px}
.mouse {width:32px; height:32px; background-position: -104px -376px}
.navigation {width:32px; height:32px; background-position: -104px -274px}
.navigation-alt-1 {width:32px; height:32px; background-position: -104px -342px}
.navigation-alt-2 {width:32px; height:32px; background-position: -104px -308px}
.network {width:32px; height:32px; background-position: -104px -206px}
.network-alt-1 {width:32px; height:32px; background-position: -104px -240px}
.no {width:32px; height:32px; background-position: -104px -172px}
.node {width:32px; height:32px; background-position: -104px -138px}
.notepad {width:32px; height:32px; background-position: -988px -70px}
.notepad-alt {width:32px; height:32px; background-position: -104px -104px}
.open-in-new-window {width:32px; height:32px; background-position: -954px -70px}
.open-source {width:32px; height:32px; background-position: -920px -70px}
.orientation-landscape {width:32px; height:32px; background-position: -886px -70px}
.orientation-portrait {width:32px; height:32px; background-position: -852px -70px}
.padlock-closed {width:32px; height:32px; background-position: -818px -70px}
.padlock-open {width:32px; height:32px; background-position: -784px -70px}
.paintroller {width:32px; height:32px; background-position: -716px -70px}
.paintroller-alt {width:32px; height:32px; background-position: -750px -70px}
.park-bench {width:32px; height:32px; background-position: -682px -70px}
.paste {width:32px; height:32px; background-position: -648px -70px}
.pattern {width:32px; height:32px; background-position: -614px -70px}
.pen {width:32px; height:32px; background-position: -580px -70px}
.pill {width:32px; height:32px; background-position: -546px -70px}
.pinetree {width:32px; height:32px; background-position: -512px -70px}
.plugin {width:32px; height:32px; background-position: -444px -70px}
.plugin-disabled {width:32px; height:32px; background-position: -478px -70px}
.podcast {width:32px; height:32px; background-position: -410px -70px}
.pollution {width:32px; height:32px; background-position: -376px -70px}
.power-off {width:32px; height:32px; background-position: -342px -70px}
.power-on {width:32px; height:32px; background-position: -274px -70px}
.power-on-off {width:32px; height:32px; background-position: -308px -70px}
.power-standby {width:32px; height:32px; background-position: -240px -70px}
.preferences {width:32px; height:32px; background-position: -206px -70px}
.presentation {width:32px; height:32px; background-position: -172px -70px}
.print {width:32px; height:32px; background-position: -104px -70px}
.print-alt {width:32px; height:32px; background-position: -138px -70px}
.printer {width:32px; height:32px; background-position: -70px -954px}
.printer-preview {width:32px; height:32px; background-position: -70px -988px}
.projector {width:32px; height:32px; background-position: -70px -920px}
.read-only {width:32px; height:32px; background-position: -70px -886px}
.refreshment {width:32px; height:32px; background-position: -70px -852px}
.register {width:32px; height:32px; background-position: -70px -818px}
.remote-control {width:32px; height:32px; background-position: -70px -784px}
.report {width:32px; height:32px; background-position: -70px -750px}
.resize {width:32px; height:32px; background-position: -70px -716px}
.rip {width:32px; height:32px; background-position: -70px -682px}
.road-sign {width:32px; height:32px; background-position: -70px -648px}
.rss {width:32px; height:32px; background-position: -70px -614px}
.ruby {width:32px; height:32px; background-position: -70px -580px}
.ruler {width:32px; height:32px; background-position: -70px -512px}
.ruler-alt {width:32px; height:32px; background-position: -70px -546px}
.safety-box {width:32px; height:32px; background-position: -70px -478px}
.save {width:32px; height:32px; background-position: -70px -444px}
.science {width:32px; height:32px; background-position: -70px -410px}
.screenshot {width:32px; height:32px; background-position: -70px -376px}
.script {width:32px; height:32px; background-position: -70px -342px}
.search {width:32px; height:32px; background-position: -70px -274px}
.search-advanced {width:32px; height:32px; background-position: -70px -308px}
.server {width:32px; height:32px; background-position: -70px -240px}
.servers {width:32px; height:32px; background-position: -70px -206px}
.settings {width:32px; height:32px; background-position: -70px -172px}
.shape-circle {width:32px; height:32px; background-position: -70px -138px}
.shape-ellipse {width:32px; height:32px; background-position: -70px -104px}
.shape-hexagon {width:32px; height:32px; background-position: -70px -70px}
.shape-kite {width:32px; height:32px; background-position: -988px -36px}
.shape-parallelogram-orthogonal {width:32px; height:32px; background-position: -954px -36px}
.shape-pentagon {width:32px; height:32px; background-position: -920px -36px}
.shape-rhombus {width:32px; height:32px; background-position: -886px -36px}
.shape-square {width:32px; height:32px; background-position: -852px -36px}
.shape-trapezoid {width:32px; height:32px; background-position: -818px -36px}
.shape-triangle-equilateral {width:32px; height:32px; background-position: -784px -36px}
.shape-triangle-isosceles {width:32px; height:32px; background-position: -750px -36px}
.shape-triangle-rectangular {width:32px; height:32px; background-position: -716px -36px}
.shape-triangle-scalene {width:32px; height:32px; background-position: -682px -36px}
.shapes-align-hori-center {width:32px; height:32px; background-position: -648px -36px}
.shapes-align-hori-left {width:32px; height:32px; background-position: -614px -36px}
.shapes-align-hori-right {width:32px; height:32px; background-position: -580px -36px}
.shapes-align-verti-bottom {width:32px; height:32px; background-position: -546px -36px}
.shapes-align-verti-middle {width:32px; height:32px; background-position: -512px -36px}
.shapes-align-verti-top {width:32px; height:32px; background-position: -478px -36px}
.shapes-flip-horizontal {width:32px; height:32px; background-position: -444px -36px}
.shapes-flip-vertical {width:32px; height:32px; background-position: -410px -36px}
.shapes-move-back {width:32px; height:32px; background-position: -376px -36px}
.shapes-move-backward {width:32px; height:32px; background-position: -342px -36px}
.shapes-move-forward {width:32px; height:32px; background-position: -308px -36px}
.shapes-move-front {width:32px; height:32px; background-position: -274px -36px}
.shapes-rotate-anticlockwise {width:32px; height:32px; background-position: -240px -36px}
.shapes-rotate-clockwise {width:32px; height:32px; background-position: -206px -36px}
.sitemap {width:32px; height:32px; background-position: -172px -36px}
.spaceship {width:32px; height:32px; background-position: -138px -36px}
.stamp {width:32px; height:32px; background-position: -104px -36px}
.star {width:32px; height:32px; background-position: -70px -36px}
.statistics-chart {width:32px; height:32px; background-position: -986px -2px}
.statistics-pie-chart {width:32px; height:32px; background-position: -952px -2px}
.sticky-note {width:32px; height:32px; background-position: -918px -2px}
.stop {width:32px; height:32px; background-position: -850px -2px}
.stop-alt {width:32px; height:32px; background-position: -884px -2px}
.stopwatch {width:32px; height:32px; background-position: -816px -2px}
.store {width:32px; height:32px; background-position: -782px -2px}
.switch-off {width:32px; height:32px; background-position: -714px -2px}
.switch-off-alt {width:32px; height:32px; background-position: -748px -2px}
.switch-on {width:32px; height:32px; background-position: -646px -2px}
.switch-on-alt {width:32px; height:32px; background-position: -680px -2px}
.tab {width:32px; height:32px; background-position: -612px -2px}
.table {width:32px; height:32px; background-position: -578px -2px}
.tag {width:32px; height:32px; background-position: -544px -2px}
.tags {width:32px; height:32px; background-position: -510px -2px}
.target {width:32px; height:32px; background-position: -476px -2px}
.telephone {width:32px; height:32px; background-position: -442px -2px}
.tent {width:32px; height:32px; background-position: -408px -2px}
.terminal {width:32px; height:32px; background-position: -374px -2px}
.thumbnails {width:32px; height:32px; background-position: -206px -138px}
.tie {width:32px; height:32px; background-position: -340px -2px}
.time {width:32px; height:32px; background-position: -272px -2px}
.time-alt {width:32px; height:32px; background-position: -306px -2px}
.toolbox {width:32px; height:32px; background-position: -238px -2px}
.trafficlight {width:32px; height:32px; background-position: -102px -2px}
.trafficlight-green {width:32px; height:32px; background-position: -204px -2px}
.trafficlight-orange {width:32px; height:32px; background-position: -170px -2px}
.trafficlight-red {width:32px; height:32px; background-position: -136px -2px}
.trash-empty {width:32px; height:32px; background-position: -36px -986px}
.trash-full {width:32px; height:32px; background-position: -36px -952px}
.trophy {width:32px; height:32px; background-position: -36px -918px}
.truck {width:32px; height:32px; background-position: -36px -884px}
.twitter {width:32px; height:32px; background-position: -36px -850px}
.typewritter {width:32px; height:32px; background-position: -36px -816px}
.unfold-from-bottom {width:32px; height:32px; background-position: -36px -782px}
.unfold-from-left {width:32px; height:32px; background-position: -36px -748px}
.unfold-from-right {width:32px; height:32px; background-position: -36px -714px}
.unfold-from-top {width:32px; height:32px; background-position: -36px -680px}
.unfold-multiple {width:32px; height:32px; background-position: -36px -646px}
.user {width:32px; height:32px; background-position: -36px -68px}
.user-alt-1 {width:32px; height:32px; background-position: -36px -612px}
.user-alt-2 {width:32px; height:32px; background-position: -36px -578px}
.user-alt-3 {width:32px; height:32px; background-position: -36px -544px}
.user-alt-4 {width:32px; height:32px; background-position: -36px -510px}
.user-art {width:32px; height:32px; background-position: -36px -476px}
.user-chat {width:32px; height:32px; background-position: -36px -442px}
.user-female {width:32px; height:32px; background-position: -36px -340px}
.user-female-alt-1 {width:32px; height:32px; background-position: -36px -408px}
.user-female-alt-2 {width:32px; height:32px; background-position: -36px -374px}
.user-locked {width:32px; height:32px; background-position: -36px -306px}
.user-male {width:32px; height:32px; background-position: -36px -170px}
.user-male-alt-1 {width:32px; height:32px; background-position: -36px -272px}
.user-male-alt-2 {width:32px; height:32px; background-position: -36px -238px}
.user-male-alt-3 {width:32px; height:32px; background-position: -36px -204px}
.user-offline {width:32px; height:32px; background-position: -36px -136px}
.user-refresh {width:32px; height:32px; background-position: -36px -102px}
.user-sleep {width:32px; height:32px; background-position: -68px -2px}
.users {width:32px; height:32px; background-position: -2px -952px}
.users-alt {width:32px; height:32px; background-position: -2px -986px}
.view {width:32px; height:32px; background-position: -2px -918px}
.wall {width:32px; height:32px; background-position: -2px -850px}
.wall-alt {width:32px; height:32px; background-position: -2px -884px}
.wallet {width:32px; height:32px; background-position: -2px -816px}
.water {width:32px; height:32px; background-position: -2px -748px}
.water-alt {width:32px; height:32px; background-position: -2px -782px}
.weather-cloud {width:32px; height:32px; background-position: -2px -680px}
.weather-cloud-sun {width:32px; height:32px; background-position: -2px -714px}
.weather-clouds {width:32px; height:32px; background-position: -2px -646px}
.weather-rain {width:32px; height:32px; background-position: -2px -612px}
.weather-snow {width:32px; height:32px; background-position: -2px -578px}
.weather-sun {width:32px; height:32px; background-position: -2px -544px}
.weather-thunder {width:32px; height:32px; background-position: -2px -510px}
.web {width:32px; height:32px; background-position: -2px -476px}
.weight {width:32px; height:32px; background-position: -2px -442px}
.wi-fi {width:32px; height:32px; background-position: -2px -408px}
.window {width:32px; height:32px; background-position: -2px -238px}
.window-stack {width:32px; height:32px; background-position: -2px -374px}
.window-tile {width:32px; height:32px; background-position: -2px -272px}
.window-tile-horizontally {width:32px; height:32px; background-position: -2px -340px}
.window-tile-vertically {width:32px; height:32px; background-position: -2px -306px}
.wireless-router {width:32px; height:32px; background-position: -2px -204px}
.wizard {width:32px; height:32px; background-position: -2px -170px}
.zoom {width:32px; height:32px; background-position: -2px -68px}
.zoom-in {width:32px; height:32px; background-position: -2px -136px}
.zoom-out {width:32px; height:32px; background-position: -2px -102px}
