#redux-_architect-metabox-animation {
  border-top: none; }
  #redux-_architect-metabox-animation h3.redux-hndle {
    border-bottom: solid 4px #FF5722 !important; }
  #redux-_architect-metabox-animation .redux-container {
    background: #FBE9E7; }

#redux-_architect-metabox-animation {
  display: none; }
  #redux-_architect-metabox-animation .animation-demo {
    width: 30%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    background: #8bc34a;
    color: #fff;
    text-align: center; }

#_architect-_animation_sequence ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }
